﻿@{
    Layout = null;
}

<div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl mb-2 text-center">Terceros</h1>
    <div class="flex flex-col w-full max-w-full items-center bg-white p-2">
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Tipo Documento:</label>
            <select class="rounded border border-gray-400" type="text" id="cliIdSTipoDocumento" value="">
                <option value="" selected disabled></option>
            </select>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Cedula o Nit:</label>
                <input class="rounded border border-gray-400" type="text" id="cliIdStNit" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Dígito Verificación:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStDigito" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Razon Social:</label>
            <input class="rounded border border-gray-400" type="text" id="cliStNombreCliente" value="" />
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Primer Nombre:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStPrimerNombre" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Segundo Nombre:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStSegundoNombre" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Primer Apellido:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStPrimerApellido" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Segundo Apellido:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStSegundoApellido" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Dirección:</label>
            <input class="rounded border border-gray-400" type="text" id="cliStDireccion" value="" />
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Localización geográfica:</label>
                <input class="rounded border border-gray-400" type="text" id="cliInMuniLocalizacion" value="" />
                <input class="rounded border border-gray-400" type="hidden" id="cliInPaisLocalizacion" value="" />
                <input class="rounded border border-gray-400" type="hidden" id="cliInDptoLocalizacion" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                <input class="rounded border border-gray-400" type="text" id="munStNombre" value="" />
            </div>
            <div class="flex flex-col w-1/12 pr-1">
                <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                <button class="ml-2 rounded bg-blue-600 text-white py-px" id="btn_ubicacion">...</button>
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Teléfono:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStTelefono" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Celular:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStCelular" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Correo electronico:</label>
                <input class="rounded border border-gray-400" type="text" id="cliStCorreoElectronico" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Regimen:</label>
                <select class="rounded border border-gray-400" type="text" id="cliStRegimenTributario" value="">
                    <option value="1">Comun</option>
                    <option value="0">Simplificado</option>
                    <option value="2">Ninguno</option>
                </select>
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Obligación:</label>
                <select class="rounded border border-gray-400" type="text" id="cliStDeclarante" value="">
                    <option value="0">Declarante</option>
                    <option value="1">No Declarante</option>
                </select>
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Estado:</label>
                <select class="rounded border border-gray-400" type="text" id="cliStVigencia" value="">
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                    <option value="0">Bloqueado</option>
                </select>
            </div>
        </div>

        <div class="flex-row text-xs">
            <label class="font-bold tracking-wide text-sm">Clientes &nbsp&nbsp</label>
            <input id="cliStCliRetencionIva" type="checkbox" />
            <label class="font-bold">Hace retención IVA &nbsp&nbsp</label>
            <input id="cliStCliRetecionRenta" type="checkbox" />
            <label class="font-bold">Hace retención Renta &nbsp&nbsp</label>
            <input id="cliStCliRetencionIca" type="checkbox" />
            <label class="font-bold">Hace retención ICA &nbsp&nbsp</label>
        </div>

        <div class="flex-row text-xs">
            <label class="font-bold tracking-wide text-sm">Proveedores &nbsp&nbsp</label>
            <input id="cliStProRetencionIva" type="checkbox" />
            <label class="font-bold">Se le retiene IVA &nbsp&nbsp</label>
            <input id="cliStProRetencionRenta" type="checkbox" />
            <label class="font-bold">Se le retiene Renta &nbsp&nbsp</label>
            <input id="cliStProRetencionIca" type="checkbox" />
            <label class="font-bold">Se le retiene ICA &nbsp&nbsp</label>
        </div>
        <div class="flex-row text-xs">
            <label class="font-bold tracking-wide">Residencia o domicilio en el Exterior:</label>
            <input class="rounded border border-gray-400" type="checkbox" id="clirStResidencia" value="" />
        </div>
        <button id="btn_cargar_tipos" class="bg-blue-600 px-1 py-1 rounded text-white text-xs">Cargar tipos</button>

    </div>

    <div class="flex text-red-700">@ViewBag.mensaje</div>
    <div class="flex flex-row flex-wrap p-2 text-xs w-full justify-center">
        <!-- Link de los svg usados: http://svgicons.sparkk.fr/ -->
        <button id="btn_añadir" class=" text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
            </svg>
            <span>Nuevo</span>
        </button>

        <button id="btn_guardar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path>
            </svg>
            <span>Guardar</span>
        </button>
        <button id="btn_limpiar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
            </svg>
            <span>Cancelar</span>
        </button>
        <button id="btn_edit" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
            </svg>
            <span>Editar</span>
        </button>
        <button id="btn_delete" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg>
            <span>Eliminar</span>
        </button>
        <button id="btn_buscar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
            </svg>
            <span>Buscar</span>
        </button>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_buscar">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda" value="" />
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Cedula o Nit</th>
                        <th>Nombre o Razon Social</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="table-content"></tbody>
            </table>
        </div>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_ubicacion">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda1" value="" />
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Municipio</th>
                        <th>Dpto</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="tbl_ubicacion1"></tbody>
            </table>
        </div>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_Tipos">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Codigo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="tbl_Tipos1"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var NuevoRegistro = false;

    // Al abrir
    $(() => {
        enableButtons(INICIO)
        BloquearCampos(0);
        CargarTipoDocumentos();
        CargarInformacion();
        CargarUbicacion();
        CargarTipoTerceros();

        // METODO DE BUSQUEDA
        $("#busqueda").keyup(function () {
            var value = this.value.toLowerCase().trim();
            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });

        $("#busqueda1").keyup(function () {
            var value = this.value.toLowerCase().trim();
            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });

    function limpiar_formulario() {
        $('#cliIdStNit').val("")
        $('#cliStDigito').val("")
        $('#cliStNombreCliente').val("")
        $('#cliStPrimerNombre').val("")
        $('#cliStSegundoApellido').val("")
        $('#cliStSegundoNombre').val("")
        $('#cliStCliRetecionRenta').val("")
        $('#cliStCliRetencionIca').val("")
        $('#cliStCliRetencionIva').val("")
        $('#cliIdSTipoDocumento').val("")
        $('#cliStProRetencionIva').val("")
        $('#cliStProRetencionRenta').val("")
        $('#cliStProRetencionIca').val("")
        $('#cliStPrimerApellido').val("")
        $('#cliStRegimenTributario').val("")
        $('#cliStDeclarante').val("")
        $('#cliStVigencia').val("")
        $('#cliInMuniLocalizacion').val("")
        $('#cliStTelefono').val("")
        $('#cliStCelular').val("")
        $('#munStNombre').val("")
        $('#cliStDireccion').val("")
        $('#cliStCorreoElectronico').val("")
        $('#clirStResidencia').val("")
        $('#cliInDptoLocalizacion').val("")
        $('#cliInMuniLocalizacion').val("")
        $('#cliStCliRetencionIva').prop('checked', false)
        $('#cliStCliRetecionRenta').prop('checked', false)
        $('#cliStCliRetencionIca').prop('checked', false)
        $('#cliStProRetencionIva').prop('checked', false)
        $('#cliStProRetencionRenta').prop('checked', false)
        $('#cliStProRetencionIca').prop('checked', false)
        $('#cliStProRetencionIca').prop('checked', false)
        $('#clirStResidencia').prop('checked', false)
        $('#cliIdStNit').prop('disabled', false)
        $('#btn_añadir').attr('disabled', false)
        NuevoRegistro = false;
        tipoTerceros = [];
    }
    function añadir() {
        limpiar_formulario();
        BloquearCampos(1);
        CargarTipoTerceros();
        NuevoRegistro = true;
        enableButtons(NUEVO);
        $('#cliIdSTipoDocumento').focus();

    }

    function CargarTipoDocumentos() {
        let tipodoc = $('#cliIdSTipoDocumento');
        $.ajax({
            method: 'GET',
            url: "Contabilidad/CargarTipodocumento"
        }).done(data => {
            for (d of data) {
                tipodoc.append(`<option value="${d.tdoIdStTipoDocumento}">${d.tdoStDescripcion}</option>`)
            }
        })
    }

    // DETALLES
    var tipoTerceros = [];
    function CargarTipoTerceros() {
        fetch("Contabilidad/Clientes/TiposTerceros", {
            method: "GET", headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response =>
                response.json()
            )
            .then(data => {
                $('#tbl_Tipos1 tr').remove();
                for (d of data) {
                    $('#tbl_Tipos1').append(`
                                <tr onclick="AñadirTerceros(this.id)" id="${d.tteIdStCodigo}" class="border-b">
                                    <td>${d.tteIdStCodigo}</td>
                                    <td>${d.tteStNombre}</td>
                                </tr>
                            `)
                }
            });
    }

    function AñadirTerceros(codigoTercero) {
        // MARCAR O DESMARCAR ITEM DE TIPO TERCERO. POR SI EL USUARIO NO LO QUIERE SELECCIONAR. (SE EQUIVOCA.)
        let found = tipoTerceros.find(e => e.RtiIdStTipoCliente === codigoTercero);
        if (found != undefined) {
            tipoTerceros = tipoTerceros.filter(e => e !== found);
            $("#" + codigoTercero).removeClass("bg-blue-500");
        }
        else {
            $("#" + codigoTercero).addClass("bg-blue-500");
            var tipos = {
                RtiIdStAsociado: ASOCIADO,
                RtiIdStEmpresa: EMPRESA,
                RtiIdStNitCliente: $("#cliIdStNit").val(),
                RtiIdStTipoCliente: codigoTercero
            }

            tipoTerceros.push(tipos);
        }
    }
    function BloquearCampos(Estado) {
        if (Estado == 1) {
            $('#cliIdStNit').prop('disabled', false);
            $('#cliStDigito').prop('disabled', false);
            $('#cliStNombreCliente').prop('disabled', false);
            $('#cliStPrimerNombre').prop('disabled', false);
            $('#cliStSegundoApellido').prop('disabled', false);
            $('#cliStSegundoNombre').prop('disabled', false);
            $('#cliStCliRetecionRenta').prop('disabled', false);
            $('#cliStCliRetencionIca').prop('disabled', false);
            $('#cliStCliRetencionIva').prop('disabled', false);
            $('#cliIdSTipoDocumento').prop('disabled', false);
            $('#cliStProRetencionIva').prop('disabled', false);
            $('#cliStSegundoApellido').prop('disabled', false);
            $('#cliStProRetencionRenta').prop('disabled', false);
            $('#cliStProRetencionIva').prop('disabled', false);
            $('#cliStProRetencionIca').prop('disabled', false);

            $('#cliStPrimerApellido').prop('disabled', false);
            $('#cliStDireccion').prop('disabled', false);
            $('#cliStTelefono').prop('disabled', false);
            $('#cliStCelular').prop('disabled', false);
            $('#cliStCorreoElectronico').prop('disabled', false);
            $('#cliStRegimenTributario').prop('disabled', false);
            $('#cliStDeclarante').prop('disabled', false);
            $('#cliStVigencia').prop('disabled', false);
            $('#clirStResidencia').prop('disabled', false);
            $('#btn_ubicacion').attr('disabled', false);
        }
        else {
            $('#cliIdStNit').prop('disabled', true);
            $('#cliStDigito').prop('disabled', true);
            $('#cliStNombreCliente').prop('disabled', true);
            $('#cliStPrimerNombre').prop('disabled', true);
            $('#cliStSegundoApellido').prop('disabled', true);
            $('#cliStSegundoNombre').prop('disabled', true);
            $('#cliStCliRetecionRenta').prop('disabled', true);
            $('#cliStCliRetencionIca').prop('disabled', true);
            $('#cliStCliRetencionIva').prop('disabled', true);
            $('#cliIdSTipoDocumento').prop('disabled', true);
            $('#cliStProRetencionIva').prop('disabled', true);
            $('#cliStSegundoApellido').prop('disabled', true);
            $('#cliStProRetencionRenta').prop('disabled', true);
            $('#cliStProRetencionIva').prop('disabled', true);
            $('#cliStProRetencionIca').prop('disabled', true);
            $('#cliStPrimerApellido').prop('disabled', true);
            $('#cliStDireccion').prop('disabled', true);
            $('#cliInMuniLocalizacion').prop('disabled', true);
            $('#cliStTelefono').prop('disabled', true);
            $('#cliStCelular').prop('disabled', true);
            $('#cliStCorreoElectronico').prop('disabled', true);
            $('#cliStRegimenTributario').prop('disabled', true);
            $('#cliStDeclarante').prop('disabled', true);
            $('#cliStVigencia').prop('disabled', true);
            $('#munStNombre').prop('disabled', true);
            $('#clirStResidencia').prop('disabled', true);
            $('#btn_ubicacion').attr('disabled', true);
        }
    }

    // ------------btones de comando - metodos
    $('#btn_añadir').click(() => {
        añadir();
    });

    $('#btn_limpiar').click(() => {
        limpiar_formulario();
        enableButtons(CANCELAR);
        BloquearCampos(0);
    });

    function guardar_detalles() {
        $.ajax({
            method: "POST",
            url: "Contabilidad/Clientes/guardarDetalle",
            contentType: "application/json",
            data: JSON.stringify(tipoTerceros)
        })
            .done(() => {
                // MOVÍ LOS METODOS LLAMADOS CUANDO SE GUARDABA EL ENCABEZADO PARA SER EJECUTADOS DESPUES DE QUE
                // EL DETALLE (TIPOS TERCEROS) SE HALLA GUARDADO CORRECTAMENTE.

                limpiar_formulario();
                customAlert("Registro guardado", "Atención");
                CargarInformacion();
                BloquearCampos(0);
            });
    }


    $('#btn_guardar').click(() => {
        if (ValidarCampos()) {
            if ($('#cliStNombreCliente').val() == "") {
                nombrecompleto = $('#cliStPrimerNombre').val();
                if ($('#cliStSegundoNombre').val() != "") { nombrecompleto = nombrecompleto + " " + $('#cliStSegundoNombre').val(); }
                nombrecompleto = nombrecompleto + " " + $('#cliStPrimerApellido').val();
                if ($('#cliStSegundoApellido').val() != "") { nombrecompleto = nombrecompleto + " " + $('#cliStSegundoApellido').val(); }

                $('#cliStNombreCliente').val(nombrecompleto);
            }
            //---------------------------------------------------
            const nuevocliente = {
                cliIdInAsociado: ASOCIADO,
                cliIdStEmpresa: Empresa,
                cliIdStNit: $('#cliIdStNit').val(),
                cliStDigito: $('#cliStDigito').val(),
                cliIdSTipoDocumento: $('#cliIdSTipoDocumento').val(),
                cliStNombreCliente: $('#cliStNombreCliente').val(),
                cliStPrimerNombre: $('#cliStPrimerNombre').val(),
                cliStSegundoNombre: $('#cliStSegundoNombre').val(),
                cliStPrimerApellido: $('#cliStPrimerApellido').val(),
                cliStSegundoApellido: $('#cliStSegundoApellido').val(),
                cliStDireccion: $('#cliStDireccion').val(),
                cliInPaisLocalizacion: $('#cliInPaisLocalizacion').val(),
                cliInDptoLocalizacion: $('#cliInDptoLocalizacion').val(),
                cliInMuniLocalizacion: $('#cliInMuniLocalizacion').val(),
                cliStTelefono: $('#cliStTelefono').val(),
                cliStCelular: $('#cliStCelular').val(),
                cliStCorreoElectronico: $('#cliStCorreoElectronico').val(),
                cliStRetefuente: 0,
                cliStAutoretenedor: 0,
                cliStRenta: 0,
                cliStGranContribuyente: 0,
                cliStResponsableIva: 0,
                cliStDeclarante: $('#cliStDeclarante').val(),
                clirStResidencia: $('#clirStResidencia').is(':checked') ? 1 : 0,
                cliStVigencia: $('#cliStVigencia').val(),
                cliInCupoCredito: 0,
                cliInDiasGracia: 0,
                cliStApartadoAereo: "",
                cliStRegimenTributario: $('#cliStRegimenTributario').val(),
                cliStCliRetencionIva: $('#cliStCliRetencionIva').is(':checked') ? 1 : 0,
                cliStCliRetecionRenta: $('#cliStCliRetecionRenta').is(':checked') ? 1 : 0,
                cliStCliRetencionIca: $('#cliStCliRetencionIca').is(':checked') ? 1 : 0,
                cliStProRetencionIva: $('#cliStProRetencionIva').is(':checked') ? 1 : 0,
                cliStProRetencionRenta: $('#cliStProRetencionRenta').is(':checked') ? 1 : 0,
                cliStProRetencionIca: $('#cliStProRetencionIca').is(':checked') ? 1 : 0,
                cliIdStUsuario: Usuario
            }
            $.ajax({
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                url: "Contabilidad/Clientes/guardar",
                data: JSON.stringify(nuevocliente),
            }).done(() => {
                guardar_detalles();
            });
            enableButtons(GUARDAR);
        }
    });

    $('#btn_buscar').click(() => {
        CargarInformacion();
        $('#tbl_buscar').css('display', 'block');
    });
    $('.close').click(() => $('#tbl_buscar').css('display', 'none'))

    $("#btn_ubicacion").click(() => {
        CargarUbicacion();
        $("#tbl_ubicacion").css('display', 'block');
    });
    $('.close').click(() => $('#tbl_ubicacion').css('display', 'none'));

    $("#btn_cargar_tipos").click(() => {
        // VALIDAR SI EL USUARIO YA HA LLENADO LOS DATOS PREVIOS
        if ($("#cliIdStNit").val() === "") {
            customAlert("Por favor llene todos los datos antes de continuar.", "Atención");
            return;
        }
        //CargarTipoTerceros();
        $("#tbl_Tipos").css('display', 'block');
    });
    $('.close').click(() => $('#tbl_Tipos').css('display', 'none'));

    $('#btn_edit').click(() => {
        enableButtons(EDITAR);
        BloquearCampos(1);
        $('#cliIdStNit').prop('disabled', true);
        $('#cliStDigito').focus();

    })

    $('#btn_delete').click(() => {
        var nit = $('#cliIdStNit').val();
        confirmAlert("Sr. Usuario esta seguro que desea eliminar este registro?", "Atención", eliminar, nit);
    });
    // -------------------------------------------------------------------------------------------

    // ---- OTROS METODOS ------------------------------------------------------------------------

    function MostarID(cliIdStNit) {
        $('#cliIdStNit').prop('disabled', true);
        $.ajax({
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Clientes/" + cliIdStNit + "/" + ASOCIADO + "/" + Empresa,
        }).done(data => {
            console.log(data)
            $('#cliIdSTipoDocumento').val(data.cliIdStipoDocumento)
            $('#cliIdStNit').val(data.cliIdStNit)
            $('#cliStDigito').val(data.cliStDigito)
            $('#cliStNombreCliente').val(data.cliStNombreCliente)
            $('#cliStPrimerNombre').val(data.cliStPrimerNombre)
            $('#cliStSegundoNombre').val(data.cliStSegundoNombre)
            $('#cliStSegundoApellido').val(data.cliStSegundoApellido)
            $('#cliStPrimerApellido').val(data.cliStPrimerApellido)
            $('#cliStDireccion').val(data.cliStDireccion)
            $('#cliStTelefono').val(data.cliStTelefono)
            $('#cliStCelular').val(data.cliStCelular)
            $('#cliStCorreoElectronico').val(data.cliStCorreoElectronico)
            $('#cliStCliRetecionRenta').val(data.cliStCliRetecionRenta)
            $('#cliStCliRetencionIca').val(data.cliStCliRetencionIca)
            $('#cliStCliRetencionIva').val(data.cliStCliRetencionIva)
            $('#cliStProRetencionIva').val(data.cliStProRetencionIva)
            $('#cliStProRetencionRenta').val(data.cliStProRetencionRenta)
            $('#cliStProRetencionIca').val(data.cliStProRetencionIca)
            $('#ClirStResidencia').val(data.ClirStResidencia)
            $('#cliStRegimenTributario').val(data.cliStRegimenTributario)
            $('#cliStDeclarante').val(data.cliStDeclarante)
            $('#cliStVigencia').val(data.cliStVigencia)
            $('#cliInPaisLocalizacion').val(data.cliInPaisLocalizacion)
            $('#cliInDptoLocalizacion').val(data.cliInDptoLocalizacion)
            $('#cliInMuniLocalizacion').val(data.cliInMuniLocalizacion)

            if (data.cliStCliRetecionRenta == 1) { $('#cliStCliRetecionRenta').prop('checked', true) } else { $('#cliStCliRetecionRenta').prop('checked', false) }
            if (data.cliStCliRetencionIca == 1) { $('#cliStCliRetencionIca').prop('checked', true) } else { $('#cliStCliRetencionIca').prop('checked', false) }
            if (data.cliStCliRetencionIva == 1) { $('#cliStCliRetencionIva').prop('checked', true) } else { $('#cliStCliRetencionIva').prop('checked', false) }
            if (data.cliStProRetencionIva == 1) { $('#cliStProRetencionIva').prop('checked', true) } else { $('#cliStProRetencionIva').prop('checked', false) }
            if (data.cliStProRetencionRenta == 1) { $('#cliStProRetencionRenta').prop('checked', true) } else { $('#cliStProRetencionRenta').prop('checked', false) }
            if (data.cliStProRetencionIca == 1) { $('#cliStProRetencionIca').prop('checked', true) } else { $('#cliStProRetencionIca').prop('checked', false) }
            if (data.clirStResidencia == 1) { $('#clirStResidencia').prop('checked', true) } else { $('#clirStResidencia').prop('checked', false) }

            if ($('#cliStPrimerNombre').val() != "") { $('#cliStNombreCliente').val("") }
            $('#tbl_buscar').css('display', 'none')
            BuscarUbicacion();
        });

        $.ajax({
            method: "GET",
            url: `Contabiliadad/Clientes/detalles/${cliIdStNit}/${ASOCIADO}/${EMPRESA}`
        })
            .done(tipos => {
                for (tipo of tipos) {
                    tipoTerceros.push({
                        RtiIdStAsociado: ASOCIADO,
                        RtiIdStEmpresa: EMPRESA,
                        RtiIdStNitCliente: tipo.rtiIdStNitCliente,
                        RtiIdStTipoCliente: tipo.rtiIdStTipoCliente
                    });

                    $("#" + tipo.rtiIdStTipoCliente).addClass("bg-blue-500");
                }
            });
        enableButtons(BUSCAR);
        BloquearCampos(0);
    }

    function eliminar(nit) {
        $.ajax({
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Clientes/delete/" + nit + "/" + ASOCIADO + "/" + Empresa
        }).done(() => {
            limpiar_formulario();
            CargarInformacion();
            customAlert("El registro se elimino correctamente.", "Atención");
            enableButtons(ELIMINAR);
            BloquearCampos(0);
        });
    }

    function CargarInformacion() {
        fetch("Contabilidad/Clientes/refrescar/" + ASOCIADO + "/" + Empresa, {
            method: "GET", headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response =>
                response.json()
            )
            .then(data => {
                $('#table-content tr').remove();
                for (d of data) {
                    $('#table-content').append(`
                                <tr ondblclick="MostarID(this.id)" id="${d.cliIdStNit}" class="border-b">
                                    <td>${d.cliIdStNit}</td>
                                    <td>${d.cliStNombreCliente}</td>
                                    <td>${d.cliStDireccion}</td>

                                </tr>
                            `)
                }
            });
    }

    function ValidarCampos() {

        if ($('#cliIdSTipoDocumento').val() == "" || $('#cliIdSTipoDocumento').val() == null) {
            customAlert("Señor usuario seleccione el tipo de documento", "Atención");
            return false;
        }

        if ($('#cliIdStNit').val() == "") {
            customAlert("Señor usuario digite la cedula o nit", "Atención");
            return false;
        }

        if ($('#cliStNombreCliente').val() == "") {
            if ($('#cliStPrimerNombre').val() == "") {
                customAlert("Señor usuario digite el nombre del tercero o la razon social", "Atención");
                $('#cliStNombreCliente').focus();
                return false;
            }
        }

        if ($('#cliStDireccion').val() == "") {
            customAlert("Señor usuario digite la dirección del tercero", "Atención");
            $('#cliStDireccion').focus();
            return false;
        }

        if ($('#cliInMuniLocalizacion').val() == "" || $('#cliInMuniLocalizacion').val() == null) {
            customAlert("Señor usuario seleccione la ubicación del tercero", "Atención");
            $('#cliInMuniLocalizacion').focus();
            return false;
        }

        if ($('#cliStRegimenTributario').val() == "" || $('#cliStRegimenTributario').val() == null) {
            customAlert("Señor usuario seleccione el regimen tributario", "Atención");
            $('#cliStRegimenTributario').focus();
            return false;
        }

        if ($('#cliStDeclarante').val() == "" || $('#cliStDeclarante').val() == null) {
            customAlert("Señor usuario seleccione la obligación del tercero", "Atención");
            $('#cliStDeclarante').focus();
            return false;
        }
        if ($('#cliStVigencia').val() == "" || $('#cliStVigencia').val() == null) {
            customAlert("Señor usuario seleccione el estado del tercero", "Atención");
            $('#cliStVigencia').focus();
            return false;
        }


        return true;
    }

    function CargarMunicipios() {
        let municipiosList = $('#cliInMuniLocalizacion_list');
        $.ajax({
            method: 'GET',
            url: "Contabilidad/municipios"
        }).done(data => {
            for (d of data) {
                municipiosList.append(`<option value="${d.munIdInCodigo}">${d.munStNombre}</option>`)
            }
        });
    }

    $('#cliInMuniLocalizacion').change(() => {
        $.ajax({
            method: "GET",
            url: "Contabilidad/municipio/" + $('#cliInMuniLocalizacion').val()
        }).done(municipio => {
            $('#cliInPaisLocalizacion').val(municipio.munIdInPais);
            $('#cliInDptoLocalizacion').val(municipio.munIdInDpto);
            $('#munStNombre').val(municipio.munStNombre);
        });
    })

    // METODO CUANDO EL OBJETO PIERDE EL FOCO
    $('#cliIdStNit').blur(() => {
        if ($('#cliIdStNit').val() == "") return;
        nit = $('#cliIdStNit').val();
        $.ajax({
            method: 'GET',
            url: "Contabilidad/Clientes/ValidarNit/" + nit + "/" + ASOCIADO + "/" + Empresa
        }).done(data => {
            if (data) {
                customAlert("El codigo ya existe", "Atención");
                $('#cliIdStNit').focus()
                $('#cliIdStNit').val("")
            }
        })
    });

    function CargarUbicacion() {
        fetch("Contabilidad/Municipios/Listado", {
            method: "GET", headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response =>
                response.json()
            )
            .then(data => {
                $('#tbl_ubicacion1 tr').remove();
                for (d of data) {
                    $('#tbl_ubicacion1').append(`
                                <tr ondblclick="MostarUbicacion(${d.munIdInPais},${d.munIdInDpto},${d.munIdInCodigo})" class="border-b">
                                    <td>${d.munStNombre}</td>
                                    <td>${d.dptStNombre}</td>
                                    <td>${d.paiStNombre}</td>
                                </tr>
                            `)
                }
            });
    }

    function MostarUbicacion(munIdInPais, munIdInDpto, munIdInCodigo) {
        $.ajax({
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Municipios/Buscar/" + munIdInCodigo + " / " + munIdInPais + " / " + munIdInDpto,
        }).done(data => {
            $('#cliInMuniLocalizacion').val(data.munIdInCodigo)
            $('#munStNombre').val(data.munStNombre)
            $('#cliInPaisLocalizacion').val(data.munIdInPais)
            $('#cliInDptoLocalizacion').val(data.munIdInDpto)
            $('#tbl_ubicacion').css('display', 'none')
        });
    }

    function BuscarUbicacion() {
        munIdInPais = $('#cliInPaisLocalizacion').val();
        munIdInDpto = $('#cliInDptoLocalizacion').val();
        munIdInCodigo = $('#cliInMuniLocalizacion').val();
        $.ajax({
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Municipios/Buscar/" + munIdInCodigo + " / " + munIdInPais + " / " + munIdInDpto,
        }).done(data => {
            $('#munStNombre').val(data.munStNombre)

        });
    }
    // --------------------------------------------

</script>
