﻿@model IEnumerable<DianaSys.Entities.Concomprobantes>
@{
    Layout = null;
}
    
<div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl mb-2 text-center">Comprobantes</h1>
    <div class="flex flex-col w-full max-w-full items-center bg-white p-2">
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Tipo de Comprobante:</label>
            <select class="rounded border border-gray-400" type="text" id="comIdStTipoComprobante" asp-items="@(new SelectList(ViewBag.tipocomprobante, "TcpIdStTipoComprobante", "TcpStDescripcion"))" value="">
                <option value="" selected disabled></option>
            </select>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Código:</label>
                <input class="rounded border border-gray-400" type="text" id="comIdStCodigo" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Prefijo:</label>
                <input class="rounded border border-gray-400" type="text" id="comStPrefijo" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Descripción:</label>
            <input class="rounded border border-gray-400" type="text" id="comStNombre" value="" />
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Numero Inicial:</label>
                <input class="rounded border border-gray-400" type="text" id="comInNumeroInicial" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Numero Final:</label>
                <input class="rounded border border-gray-400" type="text" id="comInNumeroFinal" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Consecutivo:</label>
                <input class="rounded border border-gray-400" type="text" id="comInNumero" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Cuenta de Caja:</label>
                <input class="rounded border border-gray-400" type="text" id="comIdStCuentaCaja" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Digitación manual del consecutivo:</label>
                <select class="rounded border border-gray-400" type="text" id="comStAutomatico" value="">
                    <option value="1">Sí</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Duplicidad de comprobantes:</label>
                <select class="rounded border border-gray-400" type="text" id="comStRepetirNumero" value="">
                    <option value="1">Sí</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Comprobante para faccturación electronica:</label>
                <select class="rounded border border-gray-400" type="text" id="comStFactuarcionElectronica" value="">
                    <option value="1">Sí</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Comprobante para Niif:</label>
                <select class="rounded border border-gray-400" type="text" id="comStNiif" value="">
                    <option value="1">Sí</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>

        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Permite el ingreso de registros por la interfaz contable:</label>
            <select class="rounded border border-gray-400" type="text" id="comStInterfaz" value="">
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>
    </div>
    <div class="flex text-red-700">@ViewBag.mensaje</div>
    <div class="flex flex-row flex-wrap p-2 text-xs w-full justify-center">
        <!-- Link de los svg usados: http://svgicons.sparkk.fr/ -->
        <button id="btn_añadir" class=" text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
            </svg>
            <span>Nuevo</span>
        </button>

        <button id="btn_guardar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path>
            </svg>
            <span>Guardar</span>
        </button>
        <button id="btn_limpiar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
            </svg>
            <span>Cancelar</span>
        </button>
        <button id="btn_edit" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
            </svg>
            <span>Editar</span>
        </button>
        <button id="btn_delete" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg>
            <span>Eliminar</span>
        </button>
        <button id="btn_buscar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
            </svg>
            <span>Buscar</span>
        </button>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_buscar">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda" value="" />
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Numero Inicial</th>
                        <th>Numeo Final</th>
                        <th>Consecutivo</th>

                    </tr>
                </thead>
                <tbody class="text-center" id="table-content">
                    @foreach (var p in Model)
                    {
                        <tr ondblclick="MostarID(this.id)" id="@p.ComIdStCodigo" class="border-b">
                            <td>@p.ComIdStCodigo</td>
                            <td>@p.ComStNombre</td>
                            <td>@p.ComInNumeroInicial</td>
                            <td>@p.ComInNumeroFinal</td>
                            <td>@p.ComInNumero</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 </div>

<script>
    var hide_table = true;
    var NuevoRegistro = false;

    // Al abrir
    $(() => {
        enableButtons(INICIO)
        BloquearCampos(0);

        // Metodo de busqueda
        $("#busqueda").keyup(function () {
            var value = this.value.toLowerCase().trim();
            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });

    function limpiar_formulario() {
        $('#comIdStCodigo').val("")
        $('#comStNombre').val("")
        $('#comInNumeroInicial').val("")
        $('#comInNumeroFinal').val("")
        $('#comStPrefijo').val("")
        $('#comInNumero').val("")
        $('#comStRepetirNumero').val("")
        $('#comStAutomatico').val("")
        $('#comStInterfaz').val("")
        $('#comIdStTipoComprobante').val("")
        $('#comStNiif').val("")
        $('#comStFactuarcionElectronica').val("")
        $('#comIdStCuentaCaja').val("")
        $('#comIdStCodigo').prop('disabled', false);
        NuevoRegistro = false;
    }
    function añadir() {
        limpiar_formulario();
        BloquearCampos(1);
        NuevoRegistro = true;
        enableButtons(NUEVO);
        $('#comStRepetirNumero').val(0)
        $('#comStAutomatico').val(0)
        $('#comStInterfaz').val(0)
        $('#comStNiif').val(0)
        $('#comStFactuarcionElectronica').val(0)
        $('#comIdStTipoComprobante').focus();

    }

    function BloquearCampos(Estado) {
        if (Estado == 1) {
            $('#comIdStCodigo').prop('disabled', false);
            $('#comStNombre').prop('disabled', false);
            $('#comInNumeroInicial').prop('disabled', false);
            $('#comInNumeroFinal').prop('disabled', false);
            $('#comStPrefijo').prop('disabled', false);
            $('#comInNumero').prop('disabled', true);
            $('#comStRepetirNumero').prop('disabled', false);
            $('#comStAutomatico').prop('disabled', false);
            $('#comStInterfaz').prop('disabled', false);
            $('#comIdStTipoComprobante').prop('disabled', false);
            $('#comStNiif').prop('disabled', false);
            $('#comStPrefijo').prop('disabled', false);
            $('#comStFactuarcionElectronica').prop('disabled', false);
            $('#comIdStCuentaCaja').prop('disabled', false);
            $('#comInNumero').prop('disabled', false);
        }
        else {
            $('#comIdStCodigo').prop('disabled', true);
            $('#comStNombre').prop('disabled', true);
            $('#comInNumeroInicial').prop('disabled', true);
            $('#comInNumeroFinal').prop('disabled', true);
            $('#comStPrefijo').prop('disabled', true);
            $('#comInNumero').prop('disabled', true);
            $('#comStRepetirNumero').prop('disabled', true);
            $('#comStAutomatico').prop('disabled', true);
            $('#comStInterfaz').prop('disabled', true);
            $('#comIdStTipoComprobante').prop('disabled', true);
            $('#comStNiif').prop('disabled', true);
            $('#comStPrefijo').prop('disabled', true);
            $('#comStFactuarcionElectronica').prop('disabled', true);
            $('#comIdStCuentaCaja').prop('disabled', true);
            $('#comInNumero').prop('disabled', true);
        }
    }   

    // ------------btones de comando - metodos
    $('#btn_añadir').click(() => {
        añadir();
    });

    $('#btn_limpiar').click(() => {
        limpiar_formulario();
        enableButtons(CANCELAR);
        BloquearCampos(0);
    });


    $('#btn_guardar').click(() => {

        if (ValidarCampos()) {
            const nuevocomprobante = {
                comIdStCodigo: $('#comIdStCodigo').val(),
                comStNombre: $('#comStNombre').val(),
                comIdStUsuario: Usuario,
                comIdInAsociado: ASOCIADO,
                comIdStEmpresa: Empresa,
                comInNumeroInicial: $('#comInNumeroInicial').val(),
                comInNumeroFinal: $('#comInNumeroFinal').val(),
                comInNumero: $('#comInNumero').val(),
                comStPrefijo: $('#comStPrefijo').val(),
                comStInterfaz: $('#comStInterfaz').val(),
                comStAutomatico: $('#comStAutomatico').val(),
                comStRepetirNumero: $('#comStRepetirNumero').val(),
                comStFactuarcionElectronica: $('#comStFactuarcionElectronica').val(),
                comStNiif: $('#comStNiif').val(),
                comIdStTipoComprobante: $('#comIdStTipoComprobante').val() 

            }

            $.ajax({
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                url: "Contabilidad/Comprobantes/guardar",
                data: JSON.stringify(nuevocomprobante),
            }).done(() => {
                limpiar_formulario();
                customAlert("Registro guardado", "Atención");
                CargarInformacion();
                BloquearCampos(0);
            });


            enableButtons(GUARDAR);
        }
    });

    $('#btn_buscar').click(() => {
        $('#tbl_buscar').css('display', 'block');
    });
    $('.close').click(() => $('#tbl_buscar').css('display', 'none'))

    $('#btn_edit').click(() => {
        enableButtons(EDITAR);
        BloquearCampos(1);
        $('#comIdStCodigo').prop('disabled', true);
        $('#comInNumero').prop('disabled', true);
        $('#comStNombre').focus();

    })

    $('#btn_delete').click(() => {
        var Tipocomprobante = $('#comIdStCodigo').val();
        confirmAlert("Sr. Usuario esta seguro que desea eliminar este registro?", "Atención", eliminar, Tipocomprobante);
    });
    // -------------------------------------------------------------------------------------------

    // ---- OTROS METODOS ------------------------------------------------------------------------

    function MostarID(comIdStCodigo) {
        $('#comIdStCodigo').prop('disabled', true);
        $.ajax({
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Comprobantes/" + comIdStCodigo + "/" + ASOCIADO + "/" + Empresa,
        }).done(data => {
            console.log(data)
            $('#comIdStCodigo').val(data.comIdStCodigo)
            $('#comStNombre').val(data.comStNombre)
            $('#comInNumeroInicial').val(data.comInNumeroInicial)
            $('#comInNumeroFinal').val(data.comInNumeroFinal)
            $('#comInNumero').val(data.comInNumero)
            $('#comStPrefijo').val(data.comStPrefijo)
            $('#comIdStTipoComprobante').val(data.comIdStTipoComprobante)
            $('#comStRepetirNumero').val(data.comStRepetirNumero)
            $('#comStAutomatico').val(data.comStAutomatico)
            $('#comStInterfaz').val(data.comStInterfaz)
            $('#comStNiif').val(data.comStNiif)
            $('#comStFactuarcionElectronica').val(data.comStFactuarcionElectronica)
            $('#tbl_buscar').css('display', 'none')
        });
        enableButtons(BUSCAR);
        BloquearCampos(0);
    }

    function eliminar(Comprobante) {
        $.ajax({
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "Contabilidad/Comprobantes/delete/" + Comprobante + "/" + ASOCIADO + "/" + Empresa
        }).done(() => {
            limpiar_formulario();
            CargarInformacion();
            customAlert("El registro se elimino correctamente.", "Atención");
            enableButtons(ELIMINAR);
            BloquearCampos(0);
        });
    }

    function CargarInformacion() {
        fetch("Contabilidad/Comprobantes/refrescar/" + ASOCIADO + "/" + Empresa, {
            method: "GET", headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response =>
                response.json()
            )
            .then(data => {
                $('#table-content tr').remove();
                for (d of data) {
                    $('#table-content').append(`
                                <tr ondblclick="MostarID(this.id)" id="${d.comIdStCodigo}" class="border-b">
                                    <td>${d.comIdStCodigo}</td>
                                    <td>${d.comStNombre}</td>
                                    <td>${d.comInNumeroInicial}</td>
                                    <td>${d.comInNumeroFinal}</td>
                                    <td>${d.comInNumero}</td>
                                </tr>
                            `)
                }


            });
    }

    function ValidarCampos() {
        tipocom = $('#comIdStTipoComprobante').val() == "" ? " " : $('#comIdStTipoComprobante').val();
        if (tipocom == "") {
            customAlert("Señor usuario seleccione el tipo de comprobante", "Atención");
            return false;
        }

        if ($('#comIdStCodigo').val() == "") {
            customAlert("Señor usuario digite el codigo del comprobante", "Atención");
            return false;
        }

        if ($('#comStNombre').val() == "") {
            customAlert("Señor usuario digite la descripción", "Atención");
            $('#comStNombre').focus();
            return false;
        }

        if ($('#comInNumeroInicial').val() == "") {
            customAlert("Señor usuario digite el numero inicial", "Atención");
            $('#comInNumeroInicial').focus();
            return false;
        }

        if ($('#comInNumeroFinal').val() == "") {
            customAlert("Señor usuario digite el numero final", "Atención");
            $('#comInNumeroFinal').focus();
            return false;
        }

        if ($('#comInNumero').val() != "") {
            if ($('#comInNumero').val() > $('#comInNumeroFinal').val() || $('#comInNumero').val() < $('#comInNumeroInicial').val()) {
                customAlert("Señor usuario el consecutivo debe estar dentro del intervalo del inicial y final", "Atención");
                $('#comInNumeroInicial').focus();
                return false;
            }
        }
        

        return true;
    }

    
    // METODO CUANDO EL OBJETO PIERDE EL FOCO
    $('#comIdStCodigo').blur(() => {
        if ($('#comIdStCodigo').val() == "") return;
        $.ajax({
            method: 'GET',
            url: "Contabilidad/Comprobantes/ValidarCodigo/" + $('#comIdStCodigo').val() + " / " + ASOCIADO + " / " + Empresa
        }).done(data => {
            if (data) {
                customAlert("El codigo ya existe", "Atención");
                $('#comIdStCodigo').focus()
                $('#comIdStCodigo').val("")
            }
        })
    });

    $('#comIdStCuentaCaja').click(() => {
        $.ajax({
            method: "GET",
            url: "Contabilidad/municipio/" + $('#AflIdinMunicipioLocalizacion').val()
        }).done(municipio => {
            $('#AflIdInPaisLocalizacion').val(municipio.munIdInPais);
            $('#AflIdInDptoLocalizacion').val(municipio.munIdInDpto);
        });
    })    

    function CargarCartilla() {
        let cartillaList = $('#comIdStCuentaCaja_list');
        $.ajax({
            method: 'GET',
            url: "Contabilidad/Cuentacontable/" + ASOCIADO + " / " + Empresa
        }).done(data => {
            for (d of data) {
                cartillaList.append(`<option value="${d.carIdStCuenta}">${d.carStNombre}</option>`)
            }
        });
    }

    // --------------------------------------------

</script>




