﻿@{
    Layout = null;
}
<link href="~/css/modal.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tailwindcss.css">
<div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl mb-2 text-center">Empresa</h1>
    <div class="flex flex-col w-full max-w-full items-center bg-white p-2">
        <div class="flex flex-row w-1/2 text-xs mb-1">
            <div class="flex flex-col  w-1/2 pr-1">
                <label class="font-bold tracking-wide">IdAsociado:</label>
                <input class="rounded border border-gray-400" type="number" disabled id="EmpIdInAsociado" value="" />
            </div>
            <div class="flex flex-col  w-1/2 pl-1">
                <label class="font-bold tracking-wide">Codigo:</label>
                <input class="rounded border border-gray-400" type="text" disabled id="EmpIdStCodigo" value="" />
            </div>

            <div class="flex flex-col  w-1/2 pl-1">
                <label class="font-bold tracking-wide">Nit:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStNit" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Nombre:</label>
            <input class="rounded border border-gray-400" type="text" id="EmpStNombre" value="" />
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-1">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Sigla:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStSigla" value="" />
            </div>
            <div class="flex flex-col  w-1/2 pr-1">
                <label class="font-bold tracking-wide">Abreviatura:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStAbreviatura" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Dirección:</label>
            <input class="rounded border border-gray-400" type="text" id="EmpStDireccion" value="" />
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Localización geográfica:</label>
                <input class="rounded border border-gray-400" type="text" id="empIdInMuniLocalizacion" value="" />
                <input class="rounded border border-gray-400" type="hidden" id="empIdInPaisLocalizacion" value="" />
                <input class="rounded border border-gray-400" type="hidden" id="empIdInDptoLocalizacion" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                <input class="rounded border border-gray-400" type="text" id="munStNombre" value="" />
            </div>
            <div class="flex flex-col w-1/12 pr-1">
                <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                <button class="ml-2 rounded bg-blue-600 text-white py-px" id="btn_ubicacion">...</button>
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-1">
            <label class="font-bold tracking-wide">Tipo Empresa:</label>
            <select class="rounded border border-gray-400" type="text" id="EmpIdStTipoEmpresa" value="">
                <option value="1">Persona Juridica</option>
                <option value="2">Persona Natural</option>
            </select>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-1">
            <label class="font-bold tracking-wide">Objeto Social:</label>
            <input class="rounded border border-gray-400" type="text" id="EmpStObjetoSocial" value="" />
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Fecha Constitución:</label>
                <input class="rounded border border-gray-400" type="date" id="EmpDtFechaConstitucion" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Matricula Mercantil:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStMatriculaMercantil" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Notaria:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStNotaria" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Número Escritura:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStNumeroEscritura" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Fecha Registro:</label>
                <input class="rounded border border-gray-400" type="date" id="EmpDtFechaRegistro" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Libro Registro:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStLibroRegistro" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Representante Legal:</label>
            <input class="rounded border border-gray-400" type="text" id="EmpIdStRepresentanteLegal" value="" />
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Contador:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpIdStContador" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Tarjeta Contador:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStTarjetaContador" value="" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Revisor Fiscal:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpIdStRevisorFiscal" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Tarjeta Revisor:</label>
                <input class="rounded border border-gray-400" type="text" id="EmpStTarjetaRevisorFiscal" value="" />
            </div>
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Duración:</label>
                <input class="rounded border border-gray-400" type="number" id="EmpInDuracion" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Estado:</label>
                <select class="rounded border border-gray-400" type="text" id="EmpStEstado" value="">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
        </div>
        <img id="loading" src="~/img/ajax-loader.gif" alt="Loading Image" />
        <div class="flex flex-col w-1/2 text-xs mb-1">
            <label class="font-bold tracking-wide">Seleccionar PUC:</label>
            <input class="rounded border border-gray-400" type="number" id="puc" list="puc_list" value="" />
            <datalist id="puc_list"></datalist>
        </div>
    </div>
    <div class="flex text-red-700">@ViewBag.mensaje</div>
    <div class="flex flex-row flex-wrap p-2 text-xs w-full justify-center">
        <!-- Link de los svg usados: http://svgicons.sparkk.fr/ -->
        <button id="btn_añadir" class=" text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
            </svg>
            <span>Nuevo</span>
        </button>

        <button id="btn_guardar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path>
            </svg>
            <span>Guardar</span>
        </button>
        <button id="btn_limpiar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
            </svg>
            <span>Cancelar</span>
        </button>
        <button id="btn_edit" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
            </svg>
            <span>Editar</span>
        </button>
        <button id="btn_delete" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg>
            <span>Eliminar</span>
        </button>
        <button id="btn_buscar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
            </svg>
            <span>Buscar</span>
        </button>
        <button id="agregar_puc" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <span>Agregar PUC</span>
        </button>
    </div>
    <div class="modal flex-row p-2 text-xs rounded" id="tbl_buscar">
        <div class="modal-content">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda" value="" />
            <table class="table-fixed w-full rounded text-xs">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th class="w-1/5">Codigo</th>
                        <th class="w-1/5">Nit</th>
                        <th class="w-2/5">Nombre</th>
                        <th class="w-1/5">Estado</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="table-content"></tbody>
            </table>
        </div>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_ubicacion">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda1" value="" />
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Municipio</th>
                        <th>Dpto</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="tbl_ubicacion1"></tbody>
            </table>
        </div>
    </div>
</div>
<link href="~/lib/jquery/dist/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/empresa.js"></script>