﻿@{
    Layout = null;
}
<div class="flex flex-col bg-white mx-auto m-2 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl p-2">Movimientos Contables</h1>
    <div>
        <div class="flex flex-col mx-auto bg-white">
            <div class="flex flex-row justify-between p-2 text-xs">
                <div class="align-middle py-2">
                    <label class="font-bold ">Comprobante:</label>
                    <input class="rounded border border-gray-400 " list="comprobante-select" id="TmoIdStComprobante" />
                    <input class="rounded border border-gray-400 " disabled list="comprobante-select" id="TmoIdStComprobante_des" />
                    <datalist id="comprobante-select"></datalist>                    
                </div>
                <!-- Botones -->
                <div class="flex flex-wrap text-xs">
                    <!-- Link de los svg usados: http://svgicons.sparkk.fr/ -->
                    <button id="btn_añadir" class=" text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
                        </svg>
                        <span>Nuevo</span>
                    </button>
                    <button id="btn_guardar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex items-center">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path>
                        </svg>
                        <span>Guardar</span>
                    </button>
                    <button id="btn_limpiar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
                        </svg>
                        <span>Cancelar</span>
                    </button>
                    <button id="btn_edit" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
                        </svg>
                        <span>Editar</span>
                    </button>
                    <button id="btn_delete" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
                        </svg>
                        <span>Eliminar</span>
                    </button>
                    <button id="btn_buscar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
                        <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                            <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
                        </svg>
                        <span>Buscar</span>
                    </button>
                </div>

            </div>
            <div class="flex-row p-2 text-xs">
                <label class="font-bold ">Periodo:</label>
                <select class="rounded border border-gray-400" id="mes_periodo">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <select class="rounded border border-gray-400" id="año_periodo">
                </select>
                <button id="cambiar_periodo" class="text-white text-xs  bg-orange-500 font-bold px-2 py-1 rounded inline-flex">Cambiar Periodo</button>
            </div>
            <div class="flex-row p-2 text-xs">
                <label class="font-bold ">Numero:</label>
                <input class="rounded border border-gray-400  " type="number" id="TmoStNumero" value="" />
                <label class="font-bold">Fecha:</label>
                <input class="rounded border border-gray-400 " type="date" id="TmoDtFecha" />
                <!--<button>Cambiar Periodo</button>-->
            </div>
            <div class="flex-row p-2 text-xs">
                <label class="font-bold ">Descripción:</label>
                <input class="rounded border border-gray-400  w-7/12" type="text" id="TmoStDescripcion" value="" />
            </div>
            <!-- Divider -->
            <div class="flex-row self-center w-full border-2 border-gray-400 h-px"></div>
            <div class="flex-row p-2 text-xs">
                <label class="font-bold ">Cuenta:</label>
                <input class="rounded border border-gray-400" id="MovIdStCuenta" list="cuenta-select" />
                <datalist id="cuenta-select"></datalist>

                <label class="font-bold ">Cedula o Nit.:</label>
                <input class="rounded border border-gray-400 " id="MovIdStNit" list="cedula-nit-select" />
                <datalist class="rounded border border-gray-400 " id="cedula-nit-select"></datalist>

                <label class="font-bold ">Centro Costos:</label>
                <input class="rounded border border-gray-400 " id="MovIdStCentro" list="ccosto-select" />
                <datalist class="rounded border border-gray-400 " id="ccosto-select"></datalist>
            </div>
            <div class="flex-row flex-wrap p-2 text-xs">
                <label class="font-bold ">Descripción:</label>
                <input class="rounded border border-gray-400 " type="text" id="MovStDescripcion" value="" />
                <label class="font-bold ">Debito:</label>
                <input class="rounded border border-gray-400 " type="number" id="debito" value="" />
                <label class="font-bold ">Credito:</label>
                <input class="rounded border border-gray-400 " type="number" id="credito" value="" />
                <input class="rounded border border-gray-400 " hidden type="text" id="MovInValor" value="" />
            </div>
            <div class="flex-row flex-wrap p-2 text-xs">
                <label class="font-bold ">Valor Base:</label>
                <input class="rounded border border-gray-400" type="number" id="MovInValorIva" value="" />
                <label class="font-bold ">IVA Mayor Valor:</label>
                <input class="rounded border border-gray-400" type="number" id="MovInIvaMayorValor" value="" />
            </div>
        </div>
        <div id="periodo_text" class="flex flex-row text-xs p-2 font-bold"></div>
        <div class="flex flex-row justify-between pl-2 pt-1">
            <button id="btn_nuevo_detalle" class="text-xs bg-blue-600 text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
                <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                    <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
                </svg>
                <span>Añadir Detalle</span>
            </button>
            <h1 class="pr-2" id="diferencia"></h1>
        </div>
        <div class="flex-row p-2 text-xs" id="tbl_movimientos">
            <table class="table-fixed w-full border border-blue-700 shadow-lg">
                <thead class="text-white text-xs bg-blue-600">
                    <tr>
                        <th>Cuenta</th>
                        <th>CC o Nit</th>
                        <th>Descripción</th>
                        <th>Debito</th>
                        <th>Credito</th>
                        <th>Centro Costos</th>
                        <th>Valor Base</th>
                        <th>IVA</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="table-mov-det">
                </tbody>
            </table>
        </div>

        <div class="modal flex-row p-2 text-xs rounded" id="tbl_buscar">
            <div class="modal-content">
                <span class="close">&times;</span>
                <table class="table-fixed w-full rounded">
                    <thead class="bg-blue-600 text-white">
                        <tr>
                            <th>Consecutivo</th>
                            <th>Número</th>
                            <th>Comprobante</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="table-content">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal flex-row p-2 text-xs rounded" id="tbl_periodos">
            <div class="modal-content">
                <span class="close">&times;</span>
                <table class="table-fixed w-full rounded">
                    <thead class="bg-blue-600 text-white">
                        <tr>
                            <th>Año</th>
                            <th>Mes</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="tbl_periodos_content">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var hide_table = true;

    var carIdStCuenta = "";
    var carIdStSubcuenta = "";
    var carIdStAuxiliar = "";
    var carIdStAuxiliarUno = "";
    var CONSECUTIVO = 0;

    var itemActual = -1;
    var detallesActuales = [];

    // Al abrir
    $(() => {
        $('#btn_añadir').attr('disabled', false).addClass('bg-blue-600');
        $('#btn_guardar').attr('disabled', true).addClass('bg-blue-300');
        $('#btn_limpiar').attr('disabled', true).addClass('bg-blue-300');
        $('#btn_edit').attr('disabled', true).addClass('bg-blue-300');
        $('#btn_delete').attr('disabled', true).addClass('bg-red-300');
        $('#btn_buscar').attr('disabled', false).addClass('bg-blue-600');

        CargarCCostos();
        CargarComprobantes();
        CargarTerceros();
        CargarCuentas();
        CargarPeriodoContable();
        CargarPeriodos();
    });

    $("#credito").keyup(() => {
        if ($("credito").val() != 0) {
            $("#debito").val(0);
            $("#MovInValor").val(-$("#credito").val());
        }
    });

    $("#debito").keyup(() => {
        if ($("#debito").val() != 0) {
            $("#credito").val(0);
            $("#MovInValor").val($("#debito").val());
        }
    });

    $("#TmoIdStComprobante").change(() => {
        $.ajax({
            method: "GET",
            url: `comprobante/${ASOCIADO}/${EMPRESA}/${USUARIO}/${$("#TmoIdStComprobante").val()}`
        }).done(comprobante => {
            if (comprobante.comStAutomatico == "0") {
                $("#TmoStNumero").prop("disabled", true);
                $("#TmoIdStComprobante_des").val(comprobante.comStNombre);
                $.ajax({
                    method: "GET",
                    url: `csnumero/${ASOCIADO}/${EMPRESA}/${USUARIO}/${$("#TmoIdStComprobante").val()}`
                })
                    .done(numero => {
                        $("#TmoStNumero").val(numero);
                    })

            } else
                $("#TmoStNumero").prop("disabled", false);
        });
    });

    $('#TmoDtFecha').change(() => {
        let fecha = $('#TmoDtFecha').val();
        let mes = new Date(fecha).getMonth() + 1;
        if (mes != localStorage.getItem("mes")) {
            customAlert("La fecha no es es valida.", "Atención");
            $('#TmoDtFecha').val("");
        }
    });

    function CargarPeriodos() {
        $.ajax({
            method: "GET",
            url: `periodos/${ASOCIADO}/${EMPRESA}`
        })
            .done(periodos => {
                let anios = []
                for (periodo of periodos)
                    anios.push(periodo.perInAno);
                anios = [...new Set(anios)]
                $("#año_periodo").empty();
                for (anio of anios) {
                    $("#año_periodo").append(`
                        <option value="${anio}">${anio}</option>
                    `)
                }
            });
    }

    function CambiarPeriodo() {
        let ano = $("#año_periodo").val();
        let mes = $("#mes_periodo").val();

        $('#TmoDtFecha').val("");
        localStorage.setItem("anio", ano);
        localStorage.setItem("mes", mes);
        $("#periodo_text").text("Periodo: " + moment().month(mes - 1).format("MMMM") + " " + ano)        
    }

    function CargarPeriodoContable() {
        $.ajax({
            method: "GET",
            url: "periodo/" + EMPRESA + "/" + ASOCIADO
        })
            .done(empresa => {
                localStorage.setItem("anio", empresa.empInAnoContabilidad)
                localStorage.setItem("mes", empresa.empInMescontabilidad)
                $("#año_periodo").val(empresa.empInAnoContabilidad)
                $("#mes_periodo").val(empresa.empInMescontabilidad)
                $("#periodo_text").text("Periodo: " + moment().month(empresa.empInMescontabilidad - 1).format("MMMM") + " " + empresa.empInAnoContabilidad)
            });
    }

    function CargarCuentas() {
        $.ajax({
            method: "GET",
            url: "cuentas/" + ASOCIADO + "/" + EMPRESA.padStart(2, 0) + "/" + USUARIO
        })
            .done(cuentas => {
                for (cuenta of cuentas) {
                    $("#cuenta-select").append(`
                        <option value="${cuenta.carIdStCuenta + cuenta.carIdStSubcuenta + cuenta.carIdStAuxiliar + cuenta.carIdStAuxiliarUno}">${cuenta.carStNombre}</option>
                    `)
                }
            });
    }

    $("#MovIdStCuenta").change(() => {
        var cuenta = $("#MovIdStCuenta").val();
        carIdStCuenta = cuenta.slice(0, 4);
        carIdStSubcuenta = cuenta.slice(4, 6);
        carIdStAuxiliar = cuenta.slice(6, 8);
        carIdStAuxiliarUno = cuenta.slice(8, 10);

        $.ajax({
            method: "GET",
            url: `cuentas/${ASOCIADO}/${EMPRESA}/${USUARIO}/${carIdStCuenta}/${carIdStSubcuenta}/${carIdStAuxiliar}/${carIdStAuxiliarUno}`
        })
            .done(confCuenta => {
                confCuenta.carStCentroCosto == "1" ? $("#MovIdStCentro").prop("disabled", false) : $("#MovIdStCentro").prop("disabled", true);
                confCuenta.carStManejaNit == "1" ? $("#MovIdStNit").prop("disabled", false) : $("#MovIdStNit").prop("disabled", true);
                confCuenta.carStManejaBase == "1" ? $("#MovInValorIva").prop("disabled", false) : $("#MovInValorIva").prop("disabled", true);
            });
    });

    function CargarCCostos() {
        $.ajax({
            method: "GET",
            url: "ccosto"
        })
            .done(ccostos => {
                for (ccosto of ccostos) {
                    $('#ccosto-select').append(`
                        <option value="${ccosto.sceIdStCodigo}">${ccosto.sceStNombre}</option>
                    `)
                }
            });
    }

    function CargarTerceros() {
        $.ajax({
            method: "GET",
            url: "terceros"
        })
            .done(terceros => {
                for (tercero of terceros) {
                    $("#cedula-nit-select").append(`
                        <option value="${tercero.cliIdStNit}">${tercero.cliIdStNit} - ${tercero.cliStNombreCliente}</option>
                    `)
                }
            });
    }

    function CargarComprobantes() {
        $.ajax({
            method: "GET",
            url: "comprobantes"
        })
            .done(comprobantes => {
                for (comprobante of comprobantes) {
                    $("#comprobante-select").append(`
                        <option value="${comprobante.comIdStCodigo}">${comprobante.comIdStCodigo} - ${comprobante.comStNombre}</option>
                    `)
                }
            })
    }

    function CargarMovimientos() {
        $.ajax({
            method: "GET",
            url: "list/" + EMPRESA + "/" + ASOCIADO + "/" + USUARIO + "/" + localStorage.getItem("anio") + "/" + localStorage.getItem("mes")
        }).done(movimientos => {
            $('#table-content tr').remove();
            for (movimiento of movimientos) {
                $('#table-content').append(`
                    <tr ondblclick="CargarMovimientosPorId(this.id)" id="${movimiento.tmoIdInConsecutivo}" class="border-b">
                        <td>${movimiento.tmoIdInConsecutivo}</td>
                        <td>${movimiento.tmoStNumero}</td>
                        <td>${movimiento.tmoIdStComprobante}</td>
                        <td>${movimiento.tmoStDescripcion}</td>
                    </tr>
                 `)
            }
        });
    }

    function CargarEncabezadoMovimientos(movConsecutivo) {
        $.ajax({
            method: "GET",
            url: "encabezado/" + EMPRESA + "/" + ASOCIADO + "/" + USUARIO + "/" + movConsecutivo
        })
            .done(encabezado => {
                $('#TmoIdStComprobante').val(encabezado.tmoIdStComprobante).prop("disabled", true);
                $('#TmoStNumero').val(encabezado.tmoStNumero).prop("disabled", true);
                $('#TmoDtFecha').val(encabezado.tmoDtFecha.slice(0, encabezado.tmoDtFecha.indexOf("T")));
                $('#TmoStDescripcion').val(encabezado.tmoStDescripcion);
            });
    }

    function CargarMovimientosPorId(movConsecutivo) {
        CONSECUTIVO = movConsecutivo;
        CargarEncabezadoMovimientos(movConsecutivo);
        $.ajax({
            method: "GET",
            url: "detalles/" + EMPRESA + "/" + ASOCIADO + "/" + movConsecutivo
        })
            .done(movimientosDetalles => {
                $('#table-mov-det tr').remove();
                let diferencia = 0;
                let creditoTotal = 0;
                let debitoTotal = 0;
                detallesActuales = movimientosDetalles;
                for (det of movimientosDetalles) {
                    diferencia += det.movInValor;
                    var debito = det.movInValor > 0 ? det.movInValor : 0;
                    var credito = det.movInValor < 0 ? det.movInValor : 0;

                    creditoTotal += credito;
                    debitoTotal += debito;

                    $('#table-mov-det').append(`
                        <tr ondblclick="CargarDetalle(${det.movInItem})" id="${det.movInItem}" class="border-b text-xs">
                            <td>${det.movIdStCuenta + det.movIdStSubcuenta + det.movIdStAuxiliar + det.movIdStAuxiliarUno}</td>
                            <td>${det.movIdStNit}</td>
                            <td>${det.movStDescripcion}</td>
                            <td>${debito.toLocaleString()}</td>
                            <td>${credito.toLocaleString()}</td>
                            <td>${det.movIdStCentro}</td>
                            <td>${det.movInValorIva}</td>
                            <td>${det.movInIvaMayorValor}</td>
                            <td onclick="BorrarDetalle(${det.movInItem}, ${det.movIdInConsecutivo})" id="${det.movInItem}">Borrar</td>
                        </tr>
                    `)
                }
                $('#diferencia').text(`Credito: ${creditoTotal} Debito: ${debitoTotal} Diferencia: ${diferencia}`);
                $('#tbl_buscar').css('display', 'none');
            });
        enableButtons(BUSCAR);
    }

    function CargarDetalle(item) {
        $.ajax({
            method: 'GET',
            url: `detalle/${EMPRESA}/${ASOCIADO}/${item}`
        })
            .done(movimiento => {
                console.log(movimiento);
                var debito = movimiento.movInValor > 0 ? movimiento.movInValor : 0;
                var credito = movimiento.movInValor < 0 ? movimiento.movInValor : 0;
                itemActual = movimiento.movInItem; // Item que permite actualizar la linea actual.
                $('#MovIdStCuenta').val(movimiento.movIdStCuenta + movimiento.movIdStSubcuenta
                    + movimiento.movIdStAuxiliar + movimiento.movIdStAuxiliarUno);
                $('#MovIdStCuenta').change(); // Emite el evento cambiar para que se habiliten o desabiliten campos.
                $('#MovIdStNit').val(movimiento.movIdStNit);
                $('#MovIdStCentro').val(movimiento.movIdStCentro);
                $('#MovStDescripcion').val(movimiento.movStDescripcion);
                $('#MovInValor').val(movimiento.movInValor);
                $('#MovInValorIva').val(movimiento.movInValorIva);
                $('#MovInIvaMayorValor').val(movimiento.movInIvaMayorValor);
                $('#credito').val(credito * -1);
                $('#debito').val(debito);
            });
    }

    function eliminarDetalle(itemId, movConsecutivo) {
        $.ajax({
            method: "DELETE",
            url: `borrarDetalle/${EMPRESA}/${ASOCIADO}/${USUARIO}/${itemId}`
        })
            .done(() => {
                customAlert("El item se elimino exitosamente.", "Atención.");
                CargarMovimientosPorId(movConsecutivo);
            });
    }

    function eliminarDetalleEnTemp(itemId) {
        $("#" + itemId).remove();
        detallesActuales.splice(itemId, 1);
    }

    function BorrarDetalle(itemId, movConsecutivo) {
        $.ajax({
            method: "get",
            url: `validarExistencia/${EMPRESA}/${ASOCIADO}/${movConsecutivo}`
        })
            .done(existe => {
                if (existe) {
                    confirmAlert("Esta seguro que desea eliminar el detalle?", "Atención", eliminarDetalle, itemId, movConsecutivo);
                } else {
                    confirmAlert("Esta seguro que desea eliminar el detalle?", "Atención", eliminarDetalleEnTemp, itemId);
                }
            })
    }

    function ObtenerConsecutivo() {
        $.ajax({
            method: 'GET',
            url: "consecutivo/" + EMPRESA + "/" + ASOCIADO + "/" + USUARIO
        }).done(consecutivo => {
            this.CONSECUTIVO = consecutivo;
        })
    }

    function bloquear_campos() {
        $('#TmoIdStComprobante').prop("disabled", true);
        $('#TmoStNumero').prop("disabled", true);
        $('#TmoDtFecha').prop("disabled", true);
        $('#TmoStDescripcion').prop("disabled", true);
        $('#MovIdStCuenta').prop("disabled", true);
        $('#MovIdStNit').prop("disabled", true);
        $('#MovIdStCentro').prop("disabled", true);
        $('#MovStDescripcion').prop("disabled", true);
        $('#MovInValor').prop("disabled", true);
        $('#MovInValorIva').prop("disabled", true);
    }

    function desbloquear_campos() {
        $('#TmoIdStComprobante').prop("disabled", false);
        $('#TmoStNumero').prop("disabled", false);
        $('#TmoDtFecha').prop("disabled", false);
        $('#TmoStDescripcion').prop("disabled", false);
        $('#MovIdStCuenta').prop("disabled", false);
        $('#MovIdStNit').prop("disabled", false);
        $('#MovIdStCentro').prop("disabled", false);
        $('#MovStDescripcion').prop("disabled", false);
        $('#MovInValor').prop("disabled", false);
        $('#MovInValorIva').prop("disabled", false);
    }

    function limpiar_formulario() {
        $('#TmoIdStComprobante').val("");
        $('#TmoStNumero').val("");
        $('#TmoDtFecha').val("");
        $('#TmoStDescripcion').val("");
        $('#MovIdStCuenta').val("");
        $('#MovIdStNit').val("");
        $('#MovIdStCentro').val("");
        $('#MovStDescripcion').val("");
        $('#MovInValor').val(0);
        $('#MovInValorIva').val(0);
        $('#credito').val(0);
        $('#debito').val(0);
        $("#diferencia").text("");
        $("#TmoIdStComprobante_des").val("")
        limpiar_tabla_detalles();
        ObtenerConsecutivo();
    }

    function limpiar_detalle() {
        $('#MovIdStCuenta').val("");
        $('#MovIdStNit').val("");
        $('#MovIdStCentro').val("");
        //$('#MovStDescripcion').val("");
        $('#MovInValor').val(0);
        $('#MovInValorIva').val(0);
        $('#MovInIvaMayorValor').val(0);
        $('#credito').val(0);
        $('#debito').val(0);
    }

    function Guardar() {
        if (detallesActuales.length == 0) {
            customAlert("No se puede guardar un comprobante sin detalles.", "Atención");
            return;
        }
        GuardarEncabezado();
    }

    function refrescarDetalles() {
        $('#table-mov-det tr').remove();
        let diferencia = 0;
        let creditoTotal = 0;
        let debitoTotal = 0;
        for (const [i, det] of detallesActuales.entries()) {
            let valor = det.MovInValor || det.movInValor;
            let cuenta = (det.MovIdStCuenta + det.MovIdStSubcuenta + det.MovIdStAuxiliar + det.MovIdStAuxiliarUno) ||
                (det.movIdStCuenta + det.movIdStSubcuenta + det.movIdStAuxiliar + det.movIdStAuxiliarUno)
            diferencia += parseInt(valor);

            var debito = valor > 0 ? valor : 0;
            var credito = valor < 0 ? valor : 0;

            creditoTotal += parseInt(credito);
            debitoTotal += parseInt(debito);
            $('#table-mov-det').append(`
              <tr id="${i}" class="border-b text-xs">
                <td>${cuenta}</td>
                <td>${det.MovIdStNit || det.movIdStNit || null}</td>
                <td>${det.MovStDescripcion || det.movStDescripcion}</td>
                <td>${debito.toLocaleString()}</td>
                <td>${credito.toLocaleString()}</td>
                <td>${det.MovIdStCentro || det.movIdStCentro || null}</td>
                <td>${det.MovInValorIva || det.movInValorIva || 0}</td>
                <td>${det.MovInIvaMayorValor || det.movInIvaMayorValor || 0}</td>
                <td onclick="BorrarDetalle(${i}, -1)">Borrar</td>
             </tr>
            `)
        }
        $('#diferencia').text(`Credito: ${creditoTotal} Debito: ${debitoTotal} Diferencia: ${diferencia}`);
    }

    function limpiar_tabla_detalles() {
        detallesActuales = [];
        $('#table-mov-det tr').remove();
    }

    function actualizar_item_detalles() {
        var detalle = {
            MovIdInConsecutivo: CONSECUTIVO,
            MovIdStCuenta: carIdStCuenta,
            MovIdStSubcuenta: carIdStSubcuenta,
            MovIdStAuxiliar: carIdStAuxiliar,
            MovIdStAuxiliarUno: carIdStAuxiliarUno,
            MovInItem: itemActual,
            MovStNumero: $('#TmoStNumero').val(),
            MovIdStNit: $('#MovIdStNit').val() != "" ? $('#MovIdStNit').val() : null,
            MovIdStCentro: $('#MovIdStCentro').val() != "" ? $('#MovIdStCentro').val() : null,
            MovStDescripcion: $('#MovStDescripcion').val(),
            MovInValor: $('#MovInValor').val(),
            MovInValorIva: $('#MovInValorIva').val(),
            MovInIvaMayorValor: $('#MovInIvaMayorValor').val(),
            MovIdInAsociado: ASOCIADO,
            MovIdStEmpresa: EMPRESA,
            MovIdStComprobante: $('#TmoIdStComprobante').val()
        };

        $.ajax({
            method: "PUT",
            contentType: 'application/json; charset=utf-8',
            url: `actualizarDetalle/${EMPRESA}/${ASOCIADO}/${itemActual}`,
            data: JSON.stringify(detalle)
        })
            .done(() => {
                itemActual = -1;
                limpiar_detalle();
                CargarMovimientosPorId(CONSECUTIVO);
            });
    }

    function añadirDetalles() {
        if (CONSECUTIVO == 0) {
            return;
        }

        if (itemActual != -1) {
            actualizar_item_detalles();
            return;
        }

        var detalle = {
            MovIdInConsecutivo: CONSECUTIVO,
            MovIdStCuenta: carIdStCuenta,
            MovIdStSubcuenta: carIdStSubcuenta,
            MovIdStAuxiliar: carIdStAuxiliar,
            MovIdStAuxiliarUno: carIdStAuxiliarUno,
            MovStNumero: $('#TmoStNumero').val(),
            MovIdStNit: $('#MovIdStNit').val() != "" ? $('#MovIdStNit').val() : null,
            MovIdStCentro: $('#MovIdStCentro').val() != "" ? $('#MovIdStCentro').val() : null,
            MovStDescripcion: $('#MovStDescripcion').val(),
            MovInValor: $('#MovInValor').val(),
            MovInValorIva: $('#MovInValorIva').val() != "" ? $('#MovInValorIva').val() : 0,
            MovInIvaMayorValor: $('#MovInIvaMayorValor').val() != "" ? $('#MovInIvaMayorValor').val() : 0,
            MovIdInAsociado: ASOCIADO,
            MovIdStEmpresa: EMPRESA,
            MovIdStComprobante: $('#TmoIdStComprobante').val()
        };
        detallesActuales.push(detalle);
        refrescarDetalles();
        limpiar_detalle();
    }

    function GuardarDetalle() {
        detallesActuales = detallesActuales.filter(e => e.movInItem === undefined);
        console.log(detallesActuales);
        $.ajax({
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: `guardardetalle/${EMPRESA}/${ASOCIADO}/${CONSECUTIVO}`,
            data: JSON.stringify(detallesActuales)
        }).done(() => {
            customAlert("Se ha registrado con exito.", "Exito");
            limpiar_detalle();
            enableButtons(GUARDAR);
        });
    }

    function GuardarEncabezado() {
        var movimientoEncabezado = {
            TmoIdStComprobante: $('#TmoIdStComprobante').val(),
            TmoStNumero: $('#TmoStNumero').val(),
            TmoDtFecha: $('#TmoDtFecha').val(),
            TmoStDescripcion: $('#TmoStDescripcion').val(),
            TmoIdStComprobante: $('#TmoIdStComprobante').val(),
            TmoIdInConsecutivo: CONSECUTIVO,
            TmoIdStEmpresa: EMPRESA,
            TmoIdInAsociado: ASOCIADO,
            TmoIdStUsuario: USUARIO,
            TmoIdStAplicacion: "0", // Campo fijo
            TmoIdInAno: localStorage.getItem("anio"),
            TmoIdInMes: localStorage.getItem("mes"),
            TmoDtFechaHora: moment().format("YYYY-MM-DD hh:mm:ss")
        }
        $.ajax({
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            contentType: 'application/json',
            url: "guardarencabezado/" + EMPRESA + "/" + ASOCIADO + "/" + USUARIO,
            data: JSON.stringify(movimientoEncabezado)
        }).done(() => {
            //customAlert("Encabezado guardado exitosamente.", "Exito");
            GuardarDetalle();

            limpiar_formulario();
            CONSECUTIVO = 0;
        });
    }

    function eliminar(codigo) {
        $.ajax({
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
            },
            url: `borrarMovimiento/${EMPRESA}/${ASOCIADO}/${USUARIO}/${codigo}`
        }).done(() => {
            limpiar_formulario();
            CargarMovimientos();
            customAlert("El registro se borro correctamente.", "Exito");
            enableButtons(ELIMINAR);
        });
    }

    function añadir() {
        limpiar_formulario();
        limpiar_tabla_detalles();
        ObtenerConsecutivo();
        desbloquear_campos();
        enableButtons(NUEVO);
    }

    $("#btn_nuevo_detalle").click(() => {
        if (CONSECUTIVO == 0 || carIdStCuenta == "" || ($("#credito").val() == 0 && $("#debito").val() == 0)) {
            return;
        }
        añadirDetalles();
    });

    // MODAL
    $('#btn_buscar').click(() => {
        CargarMovimientos();
        $('#tbl_buscar').css('display', 'block');
    });
    $('.close').click(() => $('#tbl_buscar').css('display', 'none'));

    $('#cambiar_periodo').click(() => {
        CambiarPeriodo();        
    });
    $('.close').click(() => $('#tbl_periodos').css('display', 'none'));

    $('#btn_limpiar').click(() => {
        añadir();
        //bloquear_campos();
        enableButtons(CANCELAR);
    });
    $('#btn_añadir').click(() => {
        añadir();
    });
    $('#agregar_puc').click(() => {
        $("#puc").prop('disabled', false);
    });

    $('#btn_guardar').click(() => {
        Guardar();
    });

    $('#btn_edit').click(() => {
        enableButtons(EDITAR);
    })

    $('#btn_delete').click(() => {
        confirmAlert("Sr. Usuario esta seguro que desea eliminar este registro?", "Peligro", eliminar, CONSECUTIVO);
    });
</script>