﻿@{
    Layout = null;
}

<div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl mb-2 text-center">Balance de Comprobación</h1>
    <div class="flex flex-col w-full max-w-full bg-white p-2 items-center">
        <span class="flex flex-row mx-auto mb-2 self-start w-1/2 font-bold text-sm">Parametros de Consulta</span>
        <div class="flex flex-row w-1/2 text-xs">
            <div class="flex flex-col w-1/3 pr-1">
                <label class="font-bold tracking-wide">Año:</label>
                <select class="rounded border border-gray-400" type="date" id="anio">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="flex flex-col w-1/3 pr-1">
                <label class="font-bold tracking-wide">Mes:</label>
                <select class="rounded border border-gray-400" type="date" id="mes">
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                </select>
            </div>
            <div class="flex flex-col w-1/4 pr-1">
                <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                <button id="generar_informe" class="ml-2 rounded bg-blue-600 text-white py-px">Generar</button>
            </div>
        </div>
        <div class="flex flex-row w-1/2 text-xs mt-2">
            <label class="font-bold tracking-wide">Buscar:</label>
            <input class="rounded border border-gray-400 ml-2 w-9/12" autocomplete="off" id="busqueda" value="" />
        </div>
    </div>
    <div class="flex-row p-2 text-xs overflow-y-auto" id="tbl_informes">
        <table class="table-fixed w-full border border-blue-700 shadow-lg">
            <thead class="text-white text-xs bg-blue-600">
                <tr>
                    <th class="w-10">Cuenta</th>
                    <th class="w-10">Sub</th>
                    <th class="w-10">Aux</th>
                    <th class="text-left w-64">Descripción</th>
                    <th class="w-30">Saldo Anterior ($)</th>
                    <th class="w-30">Valor Debito ($)</th>
                    <th class="w-30">Valor Credito ($)</th>
                    <th class="w-30">Nuevo Saldo ($)</th>
                </tr>
            </thead>
            <tbody class="text-center text-xs h-64" id="tbl_informes_content">
            </tbody>
        </table>
    </div>
</div>

<script>
     $(() => {
        $("#busqueda").keyup(function () {
            var value = this.value.toLowerCase().trim();
            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
     });

    function ObtenerSaldoAnterior(anio, cuenta, sub, aux, aux1) {
        let saldoValor = 0;
        $.ajax({
            method: "GET",
            url: `Informes/BalanceComprobacion/Saldos/${ASOCIADO}/${EMPRESA}/${anio}`,
            async: false
        })
            .done(saldos => {
                for (saldo of saldos) {
                    if (saldo.cuenta == cuenta && saldo.subcuenta == sub && saldo.auxiliar == aux && saldo.auxiliarUno == aux1) {
                        saldoValor = saldo.movInValor;
                    }
                }
            })
        return saldoValor;
    }

    function ObtenerCredito(anio, mes, cuenta, sub, aux, aux1) {
        let credito = 0;
        $.ajax({
            method: "GET",
            url: `Informes/BalanceComprobacion/Creditos/${ASOCIADO}/${EMPRESA}/${anio}/${mes}`,
            async: false
        })
            .done(creditos => {
                console.log("CREDITOS======>>>>>", creditos);
                for (saldo of creditos) {
                    if (saldo.cuenta == cuenta && saldo.subcuenta == sub && saldo.auxiliar == aux && saldo.auxiliarUno == aux1) {
                        credito = saldo.movInValor;
                    }
                }
            })
        return credito;
    }

    function ObtenerDebito(anio, mes, cuenta, sub, aux, aux1) {
        let debito = 0;
        $.ajax({
            method: "GET",
            url: `Informes/BalanceComprobacion/Debitos/${ASOCIADO}/${EMPRESA}/${anio}/${mes}`,
            async: false
        })
            .done(debitos => {
                console.log("DEBITOS=======>>>>>>>", debitos);
                for (saldo of debitos) {
                    if (saldo.cuenta == cuenta && saldo.subcuenta == sub && saldo.auxiliar == aux && saldo.auxiliarUno == aux1) {
                        debito = saldo.movInValor;
                    }
                }
            })
        return debito;
    }

    $("#generar_informe").click(() => { 
        let anio = $('#anio').val();
        let mes = $('#mes').val();
        let conten_table = $("#tbl_informes_content");

        $.ajax({
            method: "GET",
            url: `Informes/BalanceComprobacion/Movimientos/${ASOCIADO}/${EMPRESA}/${anio}/${mes}`
        })
            .done(movimientos => {
                $("#tbl_informes_content tr").remove();
                for (movimiento of movimientos) {
                    $.ajax({
                        method: "GET",
                        url: `Informes/Padres/${ASOCIADO}/${EMPRESA}/${movimiento.cuenta}/${movimiento.subcuenta}`,
                        async: false
                    })
                        .done(cuentasPadre => {
                            let distanceLeft = 1;
                            for (cuenta of cuentasPadre) {
                                conten_table.append(`
                                    <tr class="border">
                                        <td>${cuenta.carIdStCuenta}</td>
                                        <td>${cuenta.carIdStSubcuenta}</td>
                                        <td>${cuenta.carIdStAuxiliar}</td>
                                        <td class="text-left ${cuenta.carIdStSubcuenta != '00' ? 'pl-' + distanceLeft : ''}">${cuenta.carStNombre}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                `);
                                distanceLeft++;
                            }

                            let SA = ObtenerSaldoAnterior(anio, movimiento.cuenta, movimiento.subcuenta, movimiento.auxiliar, movimiento.auxiliarUno) + movimiento.movInValor;
                            let DEBITO = ObtenerDebito(anio, mes, movimiento.cuenta, movimiento.subcuenta, movimiento.auxiliar, movimiento.auxiliarUno);
                            let CREDITO = ObtenerCredito(anio, mes, movimiento.cuenta, movimiento.subcuenta, movimiento.auxiliar, movimiento.auxiliarUno)
                            let SN = (SA + DEBITO) - CREDITO;
                            conten_table.append(`
                                    <tr class="border">
                                        <td>${movimiento.cuenta}</td>
                                        <td>${movimiento.subcuenta}</td>
                                        <td>${movimiento.auxiliar}</td>
                                        <td class="text-left pl-${distanceLeft} font-bold">${movimiento.cuentaNombre}</td>
                                        <td>${SA.toLocaleString()}</td>
                                        <td>${DEBITO.toLocaleString()}</td>
                                        <td>${CREDITO.toLocaleString()}</td>
                                        <td>${SN.toLocaleString()}</td>
                                    </tr>
                                `);
                        });
                }
            });        
    });
</script>