﻿@{
    Layout = null;
}

    <div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
        <h1 class="text-base font-bold text-2xl mb-2 text-center">Libro Diario</h1>
        <div class="flex flex-col w-full max-w-full bg-white p-2 items-center">
            <span class="flex flex-row mx-auto mb-2 self-start w-1/2 font-bold text-sm">Parametros de Consulta</span>
            <div class="flex flex-row w-1/2 text-xs">   
                <div class="flex flex-col w-1/3 pr-1">
                    <label class="font-bold tracking-wide">Fecha Inicial:</label>
                    <input class="rounded border border-gray-400" type="date" id="fecha_inicial" value="" />
                </div>
                <div class="flex flex-col w-1/3 pr-1">
                    <label class="font-bold tracking-wide">Fecha Final:</label>
                    <input class="rounded border border-gray-400" type="date" id="fecha_final" value="" />
                </div>
                <div class="flex flex-col w-1/4 pr-1">
                    <label class="font-bold tracking-wide">&nbsp&nbsp</label>
                    <button id="generar_informe" class="ml-2 rounded bg-blue-600 text-white py-px">Generar</button>
                </div>
            </div>
        </div>        
        <div class="flex-row p-2 text-xs overflow-y-auto" id="tbl_informes">
            <table class="table-fixed w-full border border-blue-700 shadow-lg">
                <thead class="text-white text-xs bg-blue-600">
                    <tr>
                        <th>Tipo Documento</th>
                        <th>Número</th>
                        <th>Fecha</th>
                        <th>Cuenta</th>
                        <th>Sub</th>
                        <th>Aux</th>
                        <th>Aux 1</th>
                        <th>C_Costo</th>
                        <th>CC o Nit</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Debito</th>
                        <th>Credito</th>
                    </tr>
                </thead>
                <tbody class="text-center text-xs h-64" id="tbl_informes_content">
                </tbody>
            </table>
        </div>
    </div>

<script>
    // Array de colores para mostrar de forma diferente en cada número.
    var colors = ["bg-blue-500", "bg-green-500", "bg-indigo-500", "bg-red-500", "bg-orange-500", "bg-yellow-500", "bg-teal-500"];
    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    function getSumDebito(arr, numero) {
        var acc = 0;
        arr.forEach((e, index) => {
            if (e.tmoStNumero == numero) {
                if (e.movInValor > 0) {
                    acc += e.movInValor;
                }
            }
        });
        return acc;
    }

    function getSumCredito(arr, numero) {
        var acc = 0;
        arr.forEach((e, index) => {
            if (e.tmoStNumero == numero) {
                if (e.movInValor < 0) {
                    console.log(e.movInValor);
                    acc += e.movInValor;
                }
            }
        });
        return acc;
    }

    $("#generar_informe").click(() => {
        $.ajax({
            url: `Informes/LibroDiario/${ASOCIADO}/${EMPRESA}/${$("#fecha_inicial").val()}/${$("#fecha_final").val()}`
        })
            .done(informe => {
                $("#tbl_informes_content tr").remove();
                var ultimoNumero = informe[0].tmoIdInConsecutivo;
                var color = colors[0];
                for (item of informe) {                    
                    if (item.tmoIdInConsecutivo != ultimoNumero) {
                        color = colors[getRandomInt(colors.length)] // Escoge los colores de forma aleatoria.
                        $("#tbl_informes_content").append(`<tr>
                            <td></td>
                            <td>${ultimoNumero}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL DOCUMENTO: ${ultimoNumero}</td>
                            <td>${getSumDebito(informe, ultimoNumero)}</td>
                            <td>${getSumCredito(informe, ultimoNumero)}</td> 
                        </tr>`);
                        ultimoNumero = item.tmoStNumero;
                    }

                    var valor = item.movInValor;
                    let debito = valor > 0 ? valor : 0;
                    let credito = valor < 0 ? valor : 0;
                    $("#tbl_informes_content").append(`
                        <tr class='${color}'>
                            <td>${item.comStNombre}</td>
                            <td>${item.tmoStNumero}</td>
                            <td>${item.tmoDtFecha.slice(0, item.tmoDtFecha.indexOf("T"))}</td>
                            <td>${item.movIdStCuenta}</td>
                            <td>${item.movIdStSubcuenta}</td>
                            <td>${item.movIdStAuxiliar}</td>
                            <td>${item.movIdStAuxiliarUno}</td>
                            <td>${item.movIdStSubcentro == null ? "" : item.movIdStSubcentro}</td>
                            <td>${item.movIdStNit == null ? "" : item.movIdStNit}</td>
                            <td>${item.cliStNombreCliente == null ? "" : item.cliStNombreCliente }</td>
                            <td>${item.movStDescripcion}</td>
                            <td>${debito.toLocaleString()}</td>
                            <td>${credito.toLocaleString()}</td>                    
                        </tr>
                    `);
                }   

                // Agrega el ultimo total a la tabla.
                $("#tbl_informes_content").append(`<tr>
                    <td></td>
                    <td>${ultimoNumero}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL DOCUMENTO: ${ultimoNumero}</td>
                    <td>${getSumDebito(informe, ultimoNumero)}</td>
                    <td>${getSumCredito(informe, ultimoNumero)}</td> 
                </tr>`);
            });
    });
</script>