﻿@{
    Layout = null;
}
<link href="~/css/modal.css" rel="stylesheet" />
<div class="flex flex-col bg-white mx-auto m-1 w-11/12 shadow-lg rounded">
    <h1 class="text-base font-bold text-2xl mb-2 text-center">Plan unico de cuentas</h1>
    <div class="flex flex-col w-full max-w-full items-center bg-white p-2">
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Cuenta:</label>
                <input class="rounded border border-gray-400" type="number" id="carIdStCuenta" value="" size=4 />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Subcuenta:</label>
                <input class="rounded border border-gray-400" type="number" id="carIdStSubcuenta" value="" />
            </div>
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Auxiliar:</label>
                <input class="rounded border border-gray-400" type="number" id="carIdStAuxiliar" value="" />
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Auxiliar Uno:</label>
                <input class="rounded border border-gray-400" type="number" id="carIdStAuxiliarUno" value="" />
            </div>
        </div>
        <div class="flex flex-col w-1/2 text-xs mb-2">
            <label class="font-bold tracking-wide">Nombre:</label>
            <input class="rounded border border-gray-400" type="text" id="carStNombre" value="" />
        </div>
        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Naturaleza:</label>
                <select class="rounded border border-gray-400" type="text" id="carStNaturaleza" value="">
                    <option value="0">Debito</option>
                    <option value="1">Credito</option>
                </select>
            </div>
            <div class="flex flex-col w-1/2 pr-1">
                <label class="font-bold tracking-wide">Estado:</label>
                <select class="rounded border border-gray-400" type="text" id="carStVigencia" value="">
                    <option value="1">Activa</option>
                    <option value="0">Inactiva</option>
                </select>
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-row w-1/2 pr-1 ">
                <label class="font-bold">Esta cuenta es afectada con movimientos &nbsp</label>
                <input class="mt-1" id="carStMovimiento" type="checkbox" />
            </div>
            <div class="flex flex-row w-1/2 pr-1">
                <label class="font-bold">Maneja Nit &nbsp</label>
                <input class="mt-1" id="carStManejaNit" type="checkbox" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-row w-1/2 pr-1">
                <label class="font-bold">Usada por modulos integrados &nbsp</label>
                <input class="mt-1" id="carStIntegrado" type="checkbox" />
            </div>
            <div class="flex flex-row w-1/2 pr-1">
                <label class="font-bold">Maneja Centro de Costos&nbsp</label>
                <input class="mt-1" id="carStCentroCosto" type="checkbox" />
            </div>
        </div>

        <div class="flex flex-row w-1/2 text-xs mb-2">
            <div class="flex flex-row w-1/2 pr-1">
                <label class="font-bold">Maneja Base &nbsp</label>
                <input class="mt-1" id="carStManejaBase" type="checkbox" />
            </div>
        </div>
        <div class="flex-row text-xs">
            <input id="Estructura" type="hidden" />
        </div>
    </div>

    <div class="flex text-red-700">@ViewBag.mensaje</div>
    <div class="flex flex-row flex-wrap p-2 text-xs w-full justify-center">
        <!-- Link de los svg usados: http://svgicons.sparkk.fr/ -->
        <button id="btn_añadir" class=" text-white hover:bg-grey text-grey-darkest font-bold px-2 py-2 rounded inline-flex">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
            </svg>
            <span>Nuevo</span>
        </button>

        <button id="btn_guardar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.064,4.656l-2.05-2.035C14.936,2.544,14.831,2.5,14.721,2.5H3.854c-0.229,0-0.417,0.188-0.417,0.417v14.167c0,0.229,0.188,0.417,0.417,0.417h12.917c0.229,0,0.416-0.188,0.416-0.417V4.952C17.188,4.84,17.144,4.733,17.064,4.656M6.354,3.333h7.917V10H6.354V3.333z M16.354,16.667H4.271V3.333h1.25v7.083c0,0.229,0.188,0.417,0.417,0.417h8.75c0.229,0,0.416-0.188,0.416-0.417V3.886l1.25,1.239V16.667z M13.402,4.688v3.958c0,0.229-0.186,0.417-0.417,0.417c-0.229,0-0.417-0.188-0.417-0.417V4.688c0-0.229,0.188-0.417,0.417-0.417C13.217,4.271,13.402,4.458,13.402,4.688"></path>
            </svg>
            <span>Guardar</span>
        </button>
        <button id="btn_limpiar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
            </svg>
            <span>Cancelar</span>
        </button>
        <button id="btn_edit" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
            </svg>
            <span>Editar</span>
        </button>
        <button id="btn_delete" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path>
            </svg>
            <span>Eliminar</span>
        </button>
        <button id="btn_buscar" class="ml-2 text-white hover:bg-grey text-grey-darkest font-bold px-2 rounded inline-flex items-center">
            <svg class="h-4 w-4 mr-2" fill="#fff" viewBox="0 0 20 20">
                <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
            </svg>
            <span>Buscar</span>
        </button>
    </div>

    <div class="modal flex-row p-2 text-xs rounded" id="tbl_buscar">
        <div class="modal-content flex-col bg-white relative overflow-scroll">
            <span class="close">&times;</span>
            <label>Buscar</label>
            <input class="rounded border border-gray-400" autocomplete="off" id="busqueda" value="" />
            <table class="table-fixed w-full text-xs rounded">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th>Cuenta</th>
                        <th>Subcuenta</th>
                        <th>Auxiliar</th>
                        <th>Auxiliar uno</th>
                        <th>Nombre</th>
                        <th>Movimiento</th>
                        <th>Maneja Nit</th>
                        <th>Centro de Costos</th>
                        <th>Naturaleza</th>
                    </tr>
                </thead>
                <tbody class="text-center" id="table-content"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var hide_table = true;
    var NuevoRegistro = false;
    var validaciones = true;

    // Al abrir
    $(() => {
        enableButtons(INICIO)
        BloquearCampos(0);
        CargarInformacion();

        // Metodo de busqueda
        $("#busqueda").keyup(function () {
            var value = this.value.toLowerCase().trim();
            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    });

    function validarNumerico(numero) {
        if (!/^([0-9])*$/.test(numero))
            return true;
        else
            return false
    }

    function limpiar_formulario() {
        $('#carStMovimiento').val("")
        $('#carIdStCuenta').val("")
        $('#carIdStSubcuenta').val("")
        $('#carIdStAuxiliar').val("")
        $('#carIdStAuxiliarUno').val("")
        $('#carStCentroCosto').val("")
        $('#carStManejaNit').val("")
        $('#carStNaturaleza').val("")
        $('#carStManejaBase').val("")
        $('#carStIntegrado').val("")
        $('#carStVigencia').val("")
        $('#carStNombre').val("")
        $('#carStIntegrado').val("")
        $('#carStManejaNit').prop('checked', false)
        $('#carStIntegrado').prop('checked', false)
        $('#carStManejaBase').prop('checked', false)
        $('#carStCentroCosto').prop('checked', false)
        $('#carStMovimiento').prop('checked', false)

        NuevoRegistro = false;
    }
    function añadir() {
        limpiar_formulario();
        BloquearCampos(1);
        NuevoRegistro = true;
        enableButtons(NUEVO);
        $('#carIdStCuenta').focus();
        validaciones = false
        $('#Estructura').val(0);

    }

    function BloquearCampos(Estado) {
        if (Estado == 1) {
            $('#carIdStSubcuenta').prop('disabled', false);
            $('#carIdStCuenta').prop('disabled', false);
            $('#carIdStAuxiliar').prop('disabled', false);
            $('#carIdStAuxiliarUno').prop('disabled', false);
            $('#carStNombre').prop('disabled', false);
            $('#carStMovimiento').prop('disabled', false);
            $('#carStCentroCosto').prop('disabled', false);
            $('#carStManejaNit').prop('disabled', false);
            $('#carStNaturaleza').prop('disabled', false);
            $('#carStManejaBase').prop('disabled', false);
            $('#carStIntegrado').prop('disabled', false);
            $('#carStVigencia').prop('disabled', false);
        }
        else {
            $('#carIdStCuenta').prop('disabled', true);
            $('#carIdStSubcuenta').prop('disabled', true);
            $('#carIdStAuxiliar').prop('disabled', true);
            $('#carIdStAuxiliarUno').prop('disabled', true);
            $('#carStNombre').prop('disabled', true);
            $('#carStMovimiento').prop('disabled', true);
            $('#carStCentroCosto').prop('disabled', true);
            $('#carStManejaNit').prop('disabled', true);
            $('#carStNaturaleza').prop('disabled', true);
            $('#carStManejaBase').prop('disabled', true);
            $('#carStIntegrado').prop('disabled', true);
            $('#carStVigencia').prop('disabled', true);

        }
    }

        
    // ------------btones de comando - metodos
    $('#btn_añadir').click(() => {
        añadir();
    });

    $('#btn_limpiar').click(() => {
        limpiar_formulario();
        enableButtons(CANCELAR);
        BloquearCampos(0);
    });


    $('#btn_guardar').click(() => {

        if (ValidarCampos()) {
            const nuevomunicipio = {
                carIdInAsociado: ASOCIADO,
                carIdStEmpresa: Empresa,
                carIdStCuenta: $('#carIdStCuenta').val(),
                carIdStSubcuenta: $('#carIdStSubcuenta').val(),
                carIdStAuxiliar: $('#carIdStAuxiliar').val(),
                carIdStAuxiliarUno: $('#carIdStAuxiliarUno').val(),
                carStNombre: $('#carStNombre').val(),
                carStMovimiento: $('#carStMovimiento').is(':checked') ? 1 : 0,
                carStCentroCosto: $('#carStCentroCosto').is(':checked') ? 1 : 0,
                carStManejaNit: $('#carStManejaNit').is(':checked') ? 1 : 0,
                carStManejaBase: $('#carStManejaBase').is(':checked') ? 1 : 0,
                carStIntegrado: $('#carStIntegrado').is(':checked') ? 1 : 0,
                carStNaturaleza: $('#carStNaturaleza').val(),
                carStVigencia: $('#carStVigencia').val(),
                carStAjustable: 1,
                catIdStUsuario: Usuario
            }

            $.ajax({
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                url: "CartillaContable/guardar",
                data: JSON.stringify(nuevomunicipio),
            }).done(() => {
                limpiar_formulario();
                customAlert("Registro guardado", "Atención");
                CargarInformacion();
                BloquearCampos(0); // colocar a los demas formularios
            });
            enableButtons(GUARDAR);
        }
    });

    $('#btn_buscar').click(() => {
        $('#tbl_buscar').css('display', 'block');
    });
    $('.close').click(() => $('#tbl_buscar').css('display', 'none'))

    $('#btn_edit').click(() => {
        enableButtons(EDITAR);
        BloquearCampos(1);
        $('#carIdStAuxiliar').prop('disabled', true);
        $('#carIdStCuenta').prop('disabled', true);
        $('#carIdStSubcuenta').prop('disabled', true);
        $('#carIdStAuxiliarUno').prop('disabled', true);
        $('#Estructura').val(0);
        $('#carStNombre').focus();
        NuevoRegistro = false;

    })

    $('#btn_delete').click(() => {
        var cuenta = $('#carIdStCuenta').val();
        var subc = $('#carIdStSubcuenta').val();
        var aux = $('#carIdStAuxiliar').val();
        var aux1 = $('#carIdStAuxiliarUno').val();
        confirmAlert("Sr. Usuario esta seguro que desea eliminar este registro?", "Atención", eliminar, cuenta, subc, aux, aux1);
    });
    // -------------------------------------------------------------------------------------------

    // ---- OTROS METODOS ------------------------------------------------------------------------

    function MostarID(carIdStCuenta, carIdStSubcuenta, carIdStAuxiliar, carIdStAuxiliarUno) {
        var subcuenta = String(carIdStSubcuenta).length == 1 ? "0" + carIdStSubcuenta : carIdStSubcuenta;
        var aux = String(carIdStAuxiliar).length == 1 ? "0" + carIdStAuxiliar : carIdStAuxiliar;
        var aux1 = String(carIdStAuxiliarUno).length == 1 ? "0" + carIdStAuxiliarUno : carIdStAuxiliarUno;


        $('#carIdStAuxiliar').prop('disabled', true);
        $.ajax({
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "CartillaContable/" + carIdStCuenta + "/" + subcuenta + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa,
        }).done(data => {
            console.log(data)
            $('#carIdStCuenta').val(data.carIdStCuenta)
            $('#carIdStSubcuenta').val(data.carIdStSubcuenta)
            $('#carIdStAuxiliar').val(data.carIdStAuxiliar)
            $('#carIdStAuxiliarUno').val(data.carIdStAuxiliarUno)
            $('#carStNombre').val(data.carStNombre)
            $('#carStMovimiento').val(data.carStMovimiento)
            $('#carStCentroCosto').val(data.carStCentroCosto)
            $('#carStManejaNit').val(data.carStManejaNit)
            $('#carStManejaBase').val(data.carStManejaBase)
            $('#carStIntegrado').val(data.carStIntegrado)
            $('#carStNaturaleza').val(data.carStNaturaleza)
            $('#carStVigencia').val(data.carStVigencia)
            $('#tbl_buscar').css('display', 'none')

            if (data.carStManejaNit == 1) { $('#carStManejaNit').prop('checked', true) } else { $('#carStManejaNit').prop('checked', false) }
            if (data.carStIntegrado == 1) { $('#carStIntegrado').prop('checked', true) } else { $('#carStIntegrado').prop('checked', false) }
            if (data.carStManejaBase == 1) { $('#carStManejaBase').prop('checked', true) } else { $('#carStManejaBase').prop('checked', false) }
            if (data.carStCentroCosto == 1) { $('#carStCentroCosto').prop('checked', true) } else { $('#carStCentroCosto').prop('checked', false) }
            if (data.carStMovimiento == 1) { $('#carStMovimiento').prop('checked', true) } else { $('#carStMovimiento').prop('checked', false) }


        });
        enableButtons(BUSCAR);
        BloquearCampos(0);
    }

    function eliminar(cuenta, Subc, aux, aux1) { // se modifico la funcion de alerta para pasar dos parametros
        $.ajax({
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
            },
            url: "CartillaContable/delete/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa
        }).done(() => {
            limpiar_formulario();
            CargarInformacion();
            customAlert("El registro se elimino correctamente.", "Atención");
            enableButtons(ELIMINAR);
            BloquearCampos(0); // colocar a los demas formularios
        });
    }

    function CargarInformacion() {
        fetch("CartillaContable/refrescar" + "/" + ASOCIADO + "/" + Empresa, {
            method: "GET", headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response =>
                response.json()
            )
            .then(data => {
                $('#table-content tr').remove();
                for (d of data) {
                    if (d.carStMovimiento == "1") { mov = "SI" } else { mov = "No" }
                    if (d.carStManejaNit == "1") { snit = "SI" } else { snit = "No" }
                    if (d.carStCentroCosto == "1") { scentro = "SI" } else { scentro = "No" }
                    if (d.carStNaturaleza == "0") { naturaleza = "Debito" } else { naturaleza = "Cedito" }

                    $('#table-content').append(`
                                <tr ondblclick="MostarID(${d.carIdStCuenta},${d.carIdStSubcuenta},${d.carIdStAuxiliar},${d.carIdStAuxiliarUno})" class="border-b">
                                    <td>${d.carIdStCuenta}</td>
                                    <td>${d.carIdStSubcuenta}</td>
                                    <td>${d.carIdStAuxiliar}</td>
                                    <td>${d.carIdStAuxiliarUno}</td>
                                    <td>${d.carStNombre}</td>
                                    <td>${mov}</td>
                                    <td>${snit}</td>
                                    <td>${scentro}</td>
                                    <td>${naturaleza}</td>
                                </tr>
                            `)
                }


            });
    }

    function ValidarCampos() {
        if ($('#carIdStCuenta').val() == "" || $('#carIdStCuenta').val() == null) {
            customAlert("Señor usuario digite la cuenta", "Atención");
            $('#carIdStCuenta').focus();
            return false;
        }
        var item = String($('#carIdStCuenta').val()).length;
        if (item != 4) {
            customAlert("Señor usuario la cuenta es de cuatro digitos", "Atención");
            $('#carIdStCuenta').focus();
            return false;
        }

        if (validarNumerico($('#carIdStCuenta').val())) {
            customAlert("Señor usuario la cuenta debe ser numerica", "Atención");
            $('#carIdStCuenta').focus();
            return false;
        }

        if ($('#carIdStSubcuenta').val() == "" || $('#carIdStSubcuenta').val() == null) {
            customAlert("Señor usuario digite la subcuenta", "Atención");
            $('#carIdStSubcuenta').focus();
            return false;
        }
        if (String($('#carIdStSubcuenta').val()).length != 2) {
            customAlert("Señor usuario la subcuenta es de 2 digitos", "Atención");
            $('#carIdStSubcuenta').focus();
            return false;
        }

        if (validarNumerico($('#carIdStSubcuenta').val())) {
            customAlert("Señor usuario la subcuenta debe ser numerica", "Atención");
            $('#carIdStSubcuenta').focus();
            return false;
        }


        if ($('#carIdStAuxiliar').val() == "") {
            customAlert("Señor usuario digite el auxiliar", "Atención");
            $('#carIdStAuxiliar').focus();
            return false;
        }
        if (String($('#carIdStAuxiliar').val()).length != 2) {
            customAlert("Señor usuario el auxiliar es de 2 digitos", "Atención");
            $('#carIdStAuxiliar').focus();
            return false;
        }

        if (validarNumerico($('#carIdStAuxiliar').val())) {
            customAlert("Señor usuario el auxiliar debe ser numerica", "Atención");
            $('#carIdStAuxiliar').focus();
            return false;
        }

        if ($('#carIdStAuxiliarUno').val() == "") {
            customAlert("Señor usuario digite el auxiliar uno", "Atención");
            $('#carIdStAuxiliarUno').focus();
            return false;
        }

        if (String($('#carIdStAuxiliarUno').val()).length != 2) {
            customAlert("Señor usuario el auxiliar uno es de 2 digitos", "Atención");
            $('#carIdStAuxiliarUno').focus();
            return false;
        }

        if (validarNumerico($('#carIdStAuxiliarUno').val())) {
            customAlert("Señor usuario el auxiliar uno debe ser numerica", "Atención");
            $('#carIdStAuxiliarUno').focus();
            return false;
        }

        if ($('#carStNombre').val() == "") {
            customAlert("Señor usuario digite la descripción", "Atención");
            $('#carStNombre').focus();
            return false;
        }

        if ($('#carStNaturaleza').val() == "" || $('#carStNaturaleza').val() == null) {
            customAlert("Señor usuario seleccione la naturaleza", "Atención");
            $('#carStNaturaleza').focus();
            return false;
        }

        if ($('#carStVigencia').val() == "" || $('#carStVigencia').val() == null) {
            customAlert("Señor usuario seleccione el estado", "Atención");
            $('#carStVigencia').focus();
            return false;
        }

        if ($('#Estructura').val() == 1) {
            customAlert("Revisar estructura de las cuentas", "Atención");
            return false;
        }

        return true;
    }


    function ValidarCuenta(item) {

        if ($('#carIdStCuenta').val() == "" || $('#carIdStSubcuenta').val() == "" || $('#carIdStAuxiliar').val() == "" || $('#carIdStAuxiliarUno').val() == "") return;

        cuenta = $('#carIdStCuenta').val();
        Subc = $('#carIdStSubcuenta').val();
        aux = $('#carIdStAuxiliar').val();
        aux1 = $('#carIdStAuxiliarUno').val();

        $.ajax({
            method: 'GET',
            url: "CartillaContable/ValidarCuenta/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa
        }).done(data => {
            if (data) {
                customAlert("La cuenta digitada existe", "Atención");
                switch (item) {
                    case 0:
                        $('#carIdStCuenta').val("");
                        $('#carIdStCuenta').focus();
                        break;
                    case 1:
                        $('#carIdStSubcuenta').val("");
                        $('#carIdStSubcuenta').focus();
                        break;
                    case 2:
                        $('#carIdStAuxiliar').val("");
                        $('#carIdStAuxiliar').focus();
                        break;
                    case 3:
                        $('#carIdStAuxiliarUno').val("");
                        $('#carIdStAuxiliarUno').focus();
                        break;
                }


            }

        })

        if (Validar_estructura()) {
            validaciones = true;
        }
        Validar_CuentasMovimientos();

    }
    // --------------------------------------------

    function Validar_estructura() {

        if ($('#carIdStSubcuenta').val() == "00") {
            if ($('#carIdStAuxiliar').val() != "00") { customAlert("Señor revisar la estructura de la Auxiliar", "Atención"); $('#Estructura').val(1); return true; }
            if ($('#carIdStAuxiliarUno').val() != "00") { customAlert("Señor revisar la estructura de la Auxiliar Uno", "Atención"); $('#Estructura').val(1); return true; }
            if (Revisar_Niveles(1)) { validaciones = true; }
        }
        else {
            if ($('#carIdStAuxiliar').val() == "00") {
                if ($('#carIdStAuxiliarUno').val() != "00") { customAlert("Señor revisar la estructura de la Auxiliar Uno", "Atención"); $('#Estructura').val(1); return true; }
                if (Revisar_Niveles(1)) { return true; }
                if (Revisar_Niveles(2)) { return true; }
            }
            else {
                if (Revisar_Niveles(1)) { return true; }
                if (Revisar_Niveles(2)) { return true; }
                if (Revisar_Niveles(3)) { return true; }
                if ($('#carIdStAuxiliarUno').val() != "00")
                    if (Revisar_Niveles(4)) { return true; }
            }
        }
        return false;
    }

    function Revisar_Niveles(item) {

        switch (item) {
            case 1:
                cuenta = $('#carIdStCuenta').val().slice(0, 1) + "000";
                Subc = "rr";
                aux = "rr";
                aux1 = "rr";

                $.ajax({
                    method: 'GET',
                    url: "CartillaContable/EstructuraGeneral/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa + "/" + item
                }).done(data => {
                    if (data != null) {
                        if (data.carStMovimiento == "1") {
                            customAlert("La cuenta " + cuenta + "no puede ser de movimiento", "Atención"); $('#Estructura').val(1); return true;
                        }
                    }
                    else {
                        if ($('#carIdStSubcuenta').val() != "00" || $('#carIdStAuxiliar').val() != "00" || $('#carIdStAuxiliarUno').val() != "00") { customAlert("Señor usuario crear la cuenta " + cuenta, "Atención"); $('#Estructura').val(1); return true; }
                    }

                })

                cuenta = $('#carIdStCuenta').val().slice(0, 2) + "00";
                $.ajax({
                    method: 'GET',
                    url: "CartillaContable/EstructuraGeneral/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa + "/" + item
                }).done(data => {
                    if (data != null) {
                        if (data.carStMovimiento == "1") {
                            customAlert("La cuenta " + cuenta + "no puede ser de movimiento", "Atención"); $('#Estructura').val(1); return true;
                        }
                    }
                    else {
                        if ($('#carIdStSubcuenta').val() != "00" || $('#carIdStAuxiliar').val() != "00" || $('#carIdStAuxiliarUno').val() != "00") { customAlert("Señor usuario crear la cuenta " + cuenta, "Atención"); $('#Estructura').val(1); return true; }
                    }
                })

                break;
            case 2:
                cuenta = $('#carIdStCuenta').val();
                Subc = "00";
                aux = "rr";
                aux1 = "rr";

                $.ajax({
                    method: 'GET',
                    url: "CartillaContable/EstructuraGeneral/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa + "/" + item
                }).done(data => {
                    if (data != null) {
                        if (data.carStMovimiento == "1") {
                            customAlert("La cuenta " + cuenta + "no puede ser de movimiento", "Atención"); $('#Estructura').val(1); return true;
                        }
                    }
                    else {
                        customAlert("Señor usuario crear la cuenta " + cuenta + ", Subcuenta 00", "Atención"); $('#Estructura').val(1); return true;
                    }

                })
                break;
            case 3:
                cuenta = $('#carIdStCuenta').val();
                Subc = $('#carIdStSubcuenta').val();
                aux = "00";
                aux1 = "rr";

                $.ajax({
                    method: 'GET',
                    url: "CartillaContable/EstructuraGeneral/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa + "/" + item
                }).done(data => {
                    if (data != null) {
                        if (data.carStMovimiento == "1") {
                            customAlert("La cuenta " + cuenta + ",Subcuenta" + Subc + "no puede ser de movimiento - Nivel 3", "Atención"); $('#Estructura').val(1); return true;
                        }
                    }
                    else {
                        customAlert("Señor usuario crear la cuenta " + cuenta + " Subcuenta " + Subc + ", Auxiliar 00 - NIvel 3", "Atención"); $('#Estructura').val(1); return true;
                    }

                })
                break;
            case 4:
                cuenta = $('#carIdStCuenta').val();
                Subc = $('#carIdStSubcuenta').val();
                aux = $('#carIdStAuxiliar').val();
                aux1 = "00";

                $.ajax({
                    method: 'GET',
                    url: "CartillaContable/EstructuraGeneral/" + cuenta + "/" + Subc + "/" + aux + "/" + aux1 + "/" + ASOCIADO + "/" + Empresa + "/" + item
                }).done(data => {
                    if (data != null) {
                        if (data.carStMovimiento == "1") {
                            customAlert("La cuenta " + cuenta + ", Subcuenta" + Subc + ",Auxiliar" + aux + "auxiliar uno 00 no puede ser de movimiento - NIvel 4", "Atención"); $('#Estructura').val(1); return true;
                        }
                    }
                    else {
                        customAlert("Señor usuario crear la cuenta " + cuenta + " Subcuenta " + Subc + ", Auxiliar 00 - Nivel 4", "Atención"); $('#Estructura').val(1); return true;
                    }

                })
                break;
        }
        return false;
    }

    function Validar_CuentasMovimientos() {
        if ($('#carIdStCuenta').val() == "" || $('#carIdStSubcuenta').val() == "" || $('#carIdStAuxiliar').val() == "" || $('#carIdStAuxiliarUno').val() == "") return;

        if ($('#carStMovimiento').is(':checked')) {
            
            if ($('#carIdStSubcuenta').val() == "00") {
                if (Revisar_Niveles(1)) { validaciones = true; }
            }
            else {
                if ($('#carIdStAuxiliar').val() == "00") {
                    if (Revisar_Niveles(2)) { validaciones = true; }
                }
                else {
                    if ($('#carIdStAuxiliarUno').val() == "00") {
                        if (Revisar_Niveles(3)) { validaciones = true; }
                    }
                }
            }
        }
    }

    // METODO CUANDO EL OBJETO PIERDE EL FOCO
    $('#carIdStCuenta').blur(() => {
        ValidarCuenta(0);
    });

    $('#carIdStSubcuenta').blur(() => {
        ValidarCuenta(1);
    });

    $('#carIdStAuxiliar').blur(() => {
        ValidarCuenta(2);
    });

    $('#carIdStAuxiliarUno').blur(() => {
        ValidarCuenta(3);
    });

    $('#carStNombre').blur(() => {
        Validar_CuentasMovimientos();
    });
</script>