﻿@{
    Layout = null;
}

<link href="~/css/modal.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tailwindcss.css">
<div class="w-full mx-auto py-20 max-w-xs">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Usuario
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username"
                   type="text"
                   name="username"
                   value="ADMINISTRADOR"
                   placeholder="Usuario">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Contraseña
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="contraseña"
                   type="password"
                   value="123"
                   name="contraseña"
                   placeholder="Contraseña">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="empresa">
                Empresa
            </label>
            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    required id="empresa" name="empresa" value="01">
                <option value="" selected disabled>Seleccione una opción...</option>
            </select>
        </div>
        <div id="informacion"></div>
        <div class="flex items-center justify-end">
            <button id="login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Acceder</button>
        </div>
    </div>
    <p class="text-center text-gray-500 text-xs">
        &copy;2019 SConline. Todos los derechos reservados.
    </p>
</div>

<link href="~/lib/jquery/dist/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.js"></script>
<script src="~/js/site.js"></script>
<script>
    $("#username").blur(() => {
        $.ajax({
            method: "GET",
            url: "autenticacion/empresas/" + $("#username").val()
        }).done(empresas => {
            $("#empresa").empty();

            if (empresas.length == 0) {
                confirmAlert("Señor usuario, usted no tiene empresas asignadas, desea crear una?", "Atención", AbrirEmpresas, $("#username").val());
            }

            $("#empresa").append(`<option value="" selected disabled>Seleccione una opción...</option>`);

            for (let empresa of empresas) {
                $("#empresa").append(`
                    <option value="${empresa.empIdStCodigo}">${empresa.empStNombre}</option>
                `);
            }
        }).fail(() => {
            $("#informacion").text("El usuario ingresado no es valido.").addClass("text-red-500");
        });
    });

    function AbrirEmpresas(username) {
        $.ajax({
            methos: "GET",
            url: `autenticacion/getAsociado/${username}`
        }).done(asociado => {
            localStorage.setItem("asociado", asociado);
            localStorage.setItem("usuario", username);
            localStorage.setItem("isFromLogin", true);
            location.href = "/Contabilidad/Empresas";
        });        
    }

    $("#login").click(() => {
        let user = {
            username: $("#username").val(),
            contraseña: $("#contraseña").val(),
            empresa: $("#empresa").val()
        };
        console.log(user);
        $.ajax({
            method: "POST",
            url: "Autenticacion/login",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(user)
        })
            .done(() => {
                localStorage.removeItem("isFromLogin");
                location.href = "/";
            })
            .error(() => {
                $("#information").text("La información proporcionada no es valida.");
            })
    });

</script>
