﻿@using Microsoft.AspNetCore.Http;
@{
    if (Context.Session.GetString("Usuario") == null)
    {
        Context.Response.Redirect("/autenticacion");
    }    

    ViewData["Title"] = "Menú Principal";
    Layout = null;
}
<link href="~/css/tailwindcss.css" rel="stylesheet">
<link href="~/css/modal.css" rel="stylesheet" />

<div class="flex bg-gray-200">    
    <div id="left_nav" class="bg-white w-48 min-h-screen shadow-lg visible">
        <h2 class="text-center text-red-700 text-4xl font-bold">DianaSis</h2>
        <div class="flex-col">
            <div id="adm_seg" class="flex align-items-center p-2">
                <span class="text-red-700 text-base font-semibold ml-2 cursor-pointer select-none">
                    Adm. Seguridad
                </span>
            </div>
            <div id="adm_show" class="flex align-items-center ml-10 hidden">
                <ul class="text-xs text-red-700 select-none">
                    <li id="btn_opc_sistema">Opciones del Sistema</li>
                    <li id="btn-gu">Grupo Usuarios</li>
                </ul>
            </div>
        </div>
        <div class="flex-col">
            <div id="contabilidad" class="flex align-items-center p-2">
                <span class="text-red-700 text-base font-semibold ml-2 cursor-pointer select-none">
                    Contabilidad
                </span>
            </div>
            <div id="conta_show" class="flex align-items-center ml-10 hidden">
                <ul class="text-xs text-red-700 select-none">
                    <li id="btn_mc">Movimientos Contables</li>
                    <li id="btn_asociado">Asociados</li>
                    <li id="btn_empresa">Empresas</li>
                    <li id="btn_Tipodoc">Tipos de Documentos</li>
                    <li id="btn_TipoTer">Tipos de Terceros</li>
                    <li id="btn_TipoCon">Tipos de Comprobantes</li>
                    <li id="btn_Centro">Centros de Costos</li>
                    <li id="btn_Subcentro">SubCentros de Costos</li>
                    <li id="btn_Pais">Pais</li>
                    <li id="btn_Dpto">Departamentos</li>
                    <li id="btn_Municipio">Municipios</li>
                    <li id="btn_Comprobante">Comprobantes</li>
                    <li id="btn_Terceros">Terceros</li>
                    <li id="btn_Cartilla">Plan unico de Cuentas</li>
                    <li id="btn_Periodos">Periodos</li>
                </ul>
            </div>
        </div>
        <div class="flex-col">
            <div id="informes" class="flex align-items-center p-2">
                <span class="text-red-700 text-base font-semibold ml-2 cursor-pointer select-none">
                    Informes
                </span>
            </div>
            <div id="informe_show" class="flex align-items-center ml-10 hidden">
                <ul class="text-xs text-red-700 select-none">
                    <li id="btn-libro-diario">Libro Diario</li>
                    <li id="btn_balance_comprobacion">Balance Comprobación</li>
                    <li id="btn_estado_resultados">Estado de Resultados</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col">
        <div class="flex w-full text-white p-2 h-8 bg-blue-700 shadow-lg items-center justify-end">
            <span id="toggle-left" class="icon icon-menu mr-10 h-6 w-6 cursor-pointer"></span>
        </div>

        <div id="content" class="w-full h-full">
        </div>
    </div>
</div>
<link href="~/lib/jquery/dist/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.js"></script>
<script src="~/js/moment.js"></script>
<script>            
    const USUARIO =  "@Context.Session.GetString("Usuario")";
    const ASOCIADO = "@Context.Session.GetInt32("Asociado")";
    const EMPRESA =  "@Context.Session.GetString("Empresa")";
    const Empresa =  "@Context.Session.GetString("Empresa")";
    const Usuario = "@Context.Session.GetString("Usuario")";
    localStorage.setItem("asociado", ASOCIADO);
    localStorage.setItem("usuario", USUARIO);
</script>
<script src="~/js/site.js"></script>
