﻿@{
    Layout = null;
}
<div class="flex flex-col bg-white mx-auto m-2 w-11/12 shadow-lg">
    <h1 class="text-2xl font-bold p-1 pl-2">Grupos de Usuarios</h1>
    <div class="flex flex-col bg-white">
        <div class="flex-row p-2 text-xs">
            <label class="font-bold ">Código:</label>
            <input class="border border-red-700 " type="text" name="codigo" value="" />

            <label class="font-bold ml-2">Estado:</label>
            <input class="border border-red-700" type="checkbox" name="estado" checked />
        </div>
        <div class="flex-row text-xs p-2">
            <label class="font-bold">Descripcion:</label>
            <input class="border border-red-700 w-7/12" type="text" name="descripcion" value="" />
        </div>
    </div>
    <div class="flex flex-row flex-wrap m-2 text-xs">
        <div class="flex flex-col">
            <p class="font-bold">Empresas:</p>
            <select id="select_empresas" class="border border-red-700 ">
                <option value="1">Dianasis S.A.S</option>
                <option value="2">Alguna Empresa</option>
                <option value="3">Otra Empresa</option>
            </select>

            <p class="font-bold">Modulos:</p>
            <select id="select_modulos" class="border border-red-700 h-64" multiple>
                <option value="1">Contabilidad</option>
                <option value="2">Maestros</option>
                <option value="3">Movimientos Contables</option>
                <option value="4">Informes</option>
                <option value="5">Informes Maestros</option>
                <option value="6">Informes Financieros</option>
            </select>
        </div>
        <div class="flex flex-col ml-0 md:ml-2">
            <p class="font-bold">Opciones:</p>
            <select id="select_opciones" class="border border-red-700 h-64" multiple>
                <option value="1">Pais</option>
                <option value="2">Tipos de Documentos</option>
                <option value="3">Estado Civil</option>
                <option value="4">Terceros</option>
                <option value="5">Empresas</option>
                <option value="6">Centro Costos</option>
                <option value="7">Cartilla Contable</option>
                <option value="8">Comprobantes</option>
            </select>
            <p class="font-bold">Autorizaciones:</p>
            <select id="select_opciones" class="border border-red-700" multiple>
                <option value="1">Valor 1</option>
                <option value="2">Valor 2</option>
            </select>
        </div>
        <div class="flex flex-col bg-gray-200 ml-1">

        </div>
    </div>
</div>

<script>
    $(() => {
        obtenerEmpresas();
    });

    function obtenerEmpresas() {
        $.ajax({
            method: "GET",
            url: "AdmSeguridad/Empresas"
        })
            .done(empresas => {
                $("#select_empresas").clear();
                for (empresa of empresas) {
                    $("#select_empresas").append(`
                        <option value="${empresa.empIdStCodigo}">${ empresa.empStNombre }</option>
                    `);
                }
            });
    }
</script>